<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>설문조사</title>
</head>
<body>
[안전실천 체크리스트]
(시설안전)
나는 에스컬레이터를 이용할 때 역방향 진입을 하지 않는다.
나는 엘리베이터의 문에 기대지 않는다.
나는 공연장, 영화관 등을 이용할 때 피난계단,유도등 등의 위치를 확인한다.
나는 공연장, 영화관 등을 이용할 때 비상구의 위치를 확인한다.
나는 엘리베이터에 갇히면 비상벨을 누르고 구조를 기다린다.
(화재안전)
나는 아래층에서 불이 나면 옥상을 올라가서 구조 요청을 할 수 있다.
나는 소화기를 사용하여 불을 끌 수 있다.
나는 화재가 발생하면 완강기를 이용하여 대피할 수 있다.
나는 화재에 대비하여 집에 소화기를 준비한다.
나는 산불의 원인을 알고 있다.
나는 화재용 긴급대피마스크(방독면) 사용법을 알고 있다.
(전기가스안전)
나는 전기콘센트에 여러 개의 플러그를 사용하지 않는다.
나는 사용하지 않는 전기플러그는 뽑아 놓는다.
나는 가스레인지를 사용할 때 기름 등은 가까이두지 않는다.
나는 평소에 가전제품의 먼지를 제거한다.
나는 다 사용한 부탄가스요기는 구멍을 내서 분리배출한다.
나는 가스를 사용하기 전에 창문을 열어 실내 공기를 환기시킨다.
나는 가스레인지를 사용한 후 점화 콕(스위치) 중간밸브를 잠근다.
(작업안전)
나는 높은 곳에 쉽게 꺠지거나 무거운 물건을 두지 않는다.
나는 종이에도 베일 수 있다는 것을 알고 조심한다.
나는 기계 장비를 사용할 때 설명서를 숙지한 후 사용한다.
나는 작업환경에 맞는 보호장구를 착용한다.
나는 공구를 사용한 후 정리정돈을 잘 한다.
나는 바퀴 달린 의자를 이용하여 높은 곳에 있는 물건을 내리지 않는다.
나는 주방이나 욕실에는 콘센트 덮개를 사용한다.
(여가활동안전)
나는 지정된 구역에서만 물놀이를 한다.
나는 음식을 먹고 바로 물놀이를 하지 않는다.
나는 물에 들어갈 때 심장에서 먼 쪽부터 물을 적신다.
나는 여가활동을 할 때 무리하지 않고 충분한 휴식을 취한다.
나는 산에 갈 때 가족 등 주변 사람에게 행선지를 알린다.
나는 등산할 때 안전한 하산을 위한 시간 계획을 세울 수 있다.



</body>
</html>