<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/Mainstyle.css">
    <script src="https://kit.fontawesome.com/6673aed616.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <header th:fragment="header-fragment">
    
        <section id="planB-header">
            <div class="planB-sidemenu">
            	<!-- 채채 페이지와 연결 -->
            	<!-- security 설정으로 로그인 후, log out으로 바뀌도록.. -->
            	<a th:href="@{/member/login}">Log in</a>
            	<a th:href="@{/member/join}">Sign up</a>
            	<a th:href="@{/member/account}">Account</a>
            </div>
			<!-- 프로젝트 로고 -->
            <div class="planB-menuWrap">
            	<a th:href="@{/}" class="main-img-logo">
           			<img th:alt="handmad_planB_logo" src="/images/planB-logo.png" style="width:60px; height:60px;">
           			<h2>안전한 대한민국,<br>PLAN B</h2>
            	</a>
          		<!-- 메인 메뉴 -->
	            <nav class="main-menu-wrap nav03">
	            	<div class="menu-container">
		            	<ul>
			            	<li class="main-menu-item">
			            		<a>재난예방대비</a>
			            		<!-- 서브메뉴 -->
			            		<ul class="submenu">
			            			<li>
			            				<a th:href="@{/}">submenu 1</a>
			            				<ul>
			            					<li><a th:href="@{/}">child 1-1</a></li>
			            					<li><a th:href="@{/}">child 1-2</a></li>
			            					<li><a th:href="@{/}">child 1-3</a></li>
			            				</ul>
			            			</li>
			            			<li>
		           						<a th:href="@{/}">submenu 2</a>
		           						<ul>
			            					<li><a th:href="@{/}">child 2-1</a></li>
			            					<li><a th:href="@{/}">child 2-2</a></li>
			            					<li><a th:href="@{/}">child 2-3</a></li>
			            				</ul>
		           					</li>	
			            		</ul>
			            	</li>
			            	<li class="main-menu-item">
			            		<a>재난현황</a>
			            		<!-- 서브메뉴 -->
			            		<ul class="submenu">
			            			<li>
			            				<a th:href="@{/}">submenu 1</a>
			            				<ul>
			            					<li><a th:href="@{/}">child 1-1</a></li>
			            					<li><a th:href="@{/}">child 1-2</a></li>
			            					<li><a th:href="@{/}">child 1-3</a></li>
			            				</ul>
			            			</li>
			            			<li>
		           						<a th:href="@{/}">submenu 2</a>
		           					</li>	
			            		</ul>
			            	</li>
			            	<li class="main-menu-item">
			            		<a>참여와신고</a>
			            		<!-- 서브메뉴 -->
			            		<ul class="submenu">
			            			<li>
			            				<a th:href="@{/}">공지사항</a>
			            				<ul>
			            					<li><a th:href="@{/}">child 1-1</a></li>
			            					<li><a th:href="@{/}">child 1-2</a></li>
			            					<li><a th:href="@{/}">child 1-3</a></li>
			            				</ul>
			            			</li>
			            			<li>
		           						<a th:href="@{/}">제보게시판</a>
		           					</li>	
			            		</ul>
			            	</li>
		            	</ul>
			            <!-- FAQ 토글 버튼 -->
					    <div class="menu-bot-img" id="faqToggleButton">
					        <span>FAQ 안내봇</span>
					        <i class="fa-solid fa-robot" style="font-size:25px;"></i>
					    </div>
					    <!-- FAQ 오버레이 배경 -->
						<div id="faqOverlay"></div>
					    <!-- FAQ 컨테이너 -->
					    <div id="faqContainer" style="display:none;">
					        <!-- JavaScript가 여기에 질문 버튼을 동적으로 추가합니다 -->
					    </div>    
		            </div>
	            </nav>
            </div> <!-- planB-menuWrap -->
        </section>
    </header>
 <script src="/js/faq-chatbot.js"></script>
 <script src="/js/favicon.js"></script>
</body>
</html>