<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>안전한 대한민국, PLAN B</title>
<!-- 파비콘 추가 -->
<link rel="stylesheet" href="/css/style.css">
</head>
<!-- Main page -->
<body>
	<div th:replace="~{header}"></div>
		<div id="index-main-body"></div>
			<div></div>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>body1 - 재난 알림 (기상청 : 기상특보 조회 서비스 api 이용예정)</p>
			<p>body2_left box - 날씨정보 / 미세먼지 api 이용</p>
			<p>body2_right box - 실시간 제보(member권한) 게시판 불러오기<br></p>
			
			<p>[ body3 bg : #dbe9f5 ]</p>
			<p>body3_rectangle - 긴급재난문자 (재난문자api) : 상현오라버니 git...</p>
			<p>body3_circle btn3 - 비상연락망(사이트 내 비상연락망 페이지 href), 재난 유관기관(page제작), 기상특보(KBS재난포털 href연결)</p>
			
			<p>[ body4 bg : #4761a1 ]</p>
			<p>body4 - 지진 발생 시 이렇게 행동하세요!, 더보기(재난 별 행동요령 페이지href연결)</p>
			<p>body4 - 컨테이너 속 행동요령 img로 진행</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
			<p>example</p>
		</div>
	<div th:replace="~{footer}"></div>
</body>

</html>