<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>safeBehaviorNum2</title>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/b70f42fdf2.js" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/styleKH.css}">

</head>
<body>
	<div th:replace="~{header}"></div>
   	<div id="pi-title">
		<h3>산불</h3>	
	</div>
	<div id="safeBehavior_bigContainer">
		<section>
			<div id="safeBehavior_container">
				<div id="safeBehavior_topContent">
					<div id="safeBehavior_topVideo">
                        <img th:src="@{/images/safeBehaviorNum2_480280.png}" width="100%" height="100%" alt="이미지를 추가해주세요.">
                    </div>
                    <!-- <div id="safeBehavior_topVideo">
						<video width="100%" height="100%" autoplay muted loop controls poster="@{/images/planB-logo.png}">
	         				<source th:src="@{/medias/safeBehaviorNum2.mp4}" type="video/mp4">
	     				</video>
	     			</div> -->
     				<div id="safeBehavior_topMain">
						<div id="safeBehavior_topTitle">
							<h3>산불 발생 시 핵심행동요령은 무엇인가요?</h3>
						</div>
						<div id="safeBehavior_topText">
							<h4> &nbsp;집 안에서는 지역 대피 안내에 귀를 기울이고 이웃 주민과 수시로 연락합니다.
							즉시 이동할 수 있도록 비상용품과 외출용 가방을 준비합니다. 지역의 비상 대응 계획과
							대피할 장소, 최선의 경로를 확인합니다. &nbsp;모든 창문과 문을 닫도록 하고 커튼을 제거하고
							가연성 가구는 되도록 창문과 문에서 멀리 떨어진 방 중앙으로 옮겨 둡니다. 가스를 차단하고
							불을 켜두어 연기나 어둠 속에서도 소방관이 집을 확인할 수 있도록 합니다.</h4>
						</div>
					</div>
				</div>
				
				<div id="safeBehavior_categoryTitle">
					<h3>산불 발생시 이렇게 행동해주세요!</h3>
				</div>
				<div>
					<table id="safeBehavior_category">
						<tbody>
							<tr>
								<th id="safeBehavior_category1" data-content-id="safeBehavior_content1">평상 시<br> 대비</th>
	                            <th id="safeBehavior_category2" data-content-id="safeBehavior_content2">산불 발생 시<br> 행동요령</th>
	                            <th id="safeBehavior_category3" data-content-id="safeBehavior_content3">산불 대피 시<br> 행동요령</th>
	                            <th id="safeBehavior_category4" data-content-id="safeBehavior_content4">산불 진화 후<br> 행동요령</th>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="safeBehavior_contents">
	                <div id="safeBehavior_content1" class="active">
	                    <div id="safeBehavior_mainImage1">
	                        <img th:src="@{/images/safeBehaviorNum2_1_600800.png}" width="100%" height="100%" alt="이미지를 추가해주세요.">
	                    </div>
	                    <div id="safeBehavior_mainContent1">
	                    	<div id="safeBehavior_mainTitle1">
	                    		<h3>평상 시에 확인해주세요!</h3>
	                    	</div>
	                    	<div id="safeBehavior_mainText1">
		                    	<p>
		                    		1. 산과 가까운 곳에서 <b>쓰레기, 영농 부산물 등</b>을 소각하지 않습니다.<br><br>
									2. 입산통제구역, 등산로 폐쇄 구간으로 지정된 장소에 출입하지 않습니다.<br><br>
		                    		3. 허용된 구역 내에서만 취사나 야영을 하며, <b>화기 사용 후에는 불이 꺼졌는지</b>
		                    		반드시 확인합니다.<br><br>
		                    		4. 산과 가까운 곳에서 <b>연기 또는 불꽃</b>을 목격하였을 시 신속하게 신고합니다.<br>
		                    			<b>소방서(119), 경찰서(112)</b>에 신고합니다.<br>
		                    			- 해당 시＊군＊구 <b>재난안전대책본부</b> 또는 시＊군＊구청 및 <b>행정복지센터</b>에 신고합니다.<br>
		                    			- 산림청 <b>중앙산림재난상황실(042-481-4119)</b>에 신고합니다.<br>
		                    			- 스마트폰에서 <b><스마트산림재해></b> 앱의 '신고하기'를 통해 신고합니다.<br><br>
		                    		5. 집에서 1.5m 이내의 지면에는 되도록 돌, 모래, 흙 등과 같은 불연성 재료를 사용합니다.<br><br>
		                    		6. 집 창문 근처에는 큰 식물이나 덤불 대신 <b>작고 수분이 많은 식물</b>을 가꾸도록 합니다.<br><br>
		                    		7. 지붕, 테라스 등에 낙엽이나 작은 가지가 쌓이지 않도록 주기적으로 정리합니다.<br><br>
		                    		8. 집주변의 <b>쓰레기, 건초, 건축자재 등의 가연물</b>은 되도록 1.5m 이상 떨어진 곳에 보관합니다.<br><br>
		                    		9. <b>비상연락망</b>과 대피 시 각자의 역할을 정하도록 합니다.<br><br>
		                    		10. <b>대피(피난)할 장소와 경로</b>를 미리 알아둡니다.
		                    		※ 대피(피난) 장소는 산에서 멀리 떨어진 마을 회관, 학교, 공터 등<br><br>
		                    		11. 만일의 사고에 대비해 <b>응급처치 방법</b>을 반복적으로 훈련하여 익혀둡니다.<br><br>
		                    		12. 재난에 대비하여 <b>비상용품을 준비</b>해 두고 보관 장소와 사용법을 알아둡니다.<br><br>
		                    	<p>
	                    	</div>
	                    </div>
	                </div>
	                <div id="safeBehavior_content2">
	                    <div id="safeBehavior_mainImage2">
	                        <img th:src="@{/images/safeBehaviorNum2_2_600800.png}" width="100%" height="100%" alt="이미지를 추가해주세요.">
	                    </div>
	                    <div id="safeBehavior_mainContent2">
	                    	<div id="safeBehavior_mainTitle2">
	                    		<h3>산불 발생 시에 이렇게 행동합니다.</h3>
	                    	</div>
	                    	<div id="safeBehavior_mainText2">
		                    	<p>
		                    		1. <b>지역 대피 안내</b>에 귀를 기울이고 이웃 주민과 수시로 연락합니다.<br><br>
		                    		2. 즉시 이동할 수 있도록 <b>비상용품과 외출용 가방</b>을 휴대합니다.<br><br>
		                    		3. 지역의 비상 대응 계획과 <b>대피할 장소, 최선의 경로</b>를 확인합니다.<br><br>
		                    		4. 모든 창문과 문을 닫도록 합니다.<br><br>
		                    		5. 커튼을 제거하고 가연성 가구는 되도록 창문과 문에서 멀리 떨어진 방 중앙으로
		                    		옮겨 둡니다.<br><br>
		                    		6. 가스를 차단하고 불을 켜두어 연기나 어둠 속에서도 소방관이 집을 확인할 수 있도록
		                    		합니다.<br><br>
		                    		7. 집 주위에 있는 <b>가연성 물질</b>을 되도록 집에서 멀리 옮겨 둡니다.<br><br>
		                    		8. 떨어진 불씨로 불이 붙는 것에 대비하여 집 주위에 충분한 물을 뿌려 둡니다.<br><br>
		                    		9. 집 주위에 있는 스프링쿨러나 호스의 <b>물을 흐르는 상태</b>로 두지 않습니다.
		                    		※ 산불진화 작업 시 진화용수 수압에 영향을 미칠 수 있습니다.<br><br>
		                    		10. <b>외부 조명</b>을 켜두어 연기나 어둠 속에서도 소방관이 집을 확인할 수 있도록 합니다.<br><br>
		                    		11. 차량 이용에 대비하여 차량을 진입로 근처로 이동시킨 후 키는 가지고 있도록 합니다.<br>
		                    		※ 차량 연료가 부족하지 않도록 대피 경로에 있는 주유소를 알아둡니다.<br><br>
		                    		12. 주변 이웃이 대피 준비를 하고 있는지 확인합니다.<br><br>
		                    		13. 구역 내 <b>안내방송, 휴대전화</b> 등을 통해 위험 상황을 확인하고 주변 사람들에게 알립니다.<br><br>
		                    	<p>
	                    	</div>
	                    </div>
	                </div>
	                <div id="safeBehavior_content3">
	                    <div id="safeBehavior_mainImage3">
	                        <img th:src="@{/images/safeBehaviorNum2_3_600800.png}" width="100%" height="100%" alt="이미지를 추가해주세요.">
	                    </div>
	                    <div id="safeBehavior_mainContent3">
	                    	<div id="safeBehavior_mainTitle3">
	                    		<h3>산불이 다가오면 이렇게 대피합니다.</h3>
	                    	</div>
	                    	<div id="safeBehavior_mainText3">
		                    	<p>
		                    		1. 대피를 권장하는 지역의 안내가 있는 경우 즉시 <b>안내된 장소</b>로 이동합니다.<br><br>
		                    		2. 혹시 미처 대피하지 못한 주민이 있을 수 있으므로 옆집을 확인하고 <b>대피 상황</b>을 알립니다.<br><br>
		                    		3. 대피 시 관계자의 지시에 따르고 재난 문자, 방송 등 산불정보에 집중하여 <b>위험 상황을 확인</b>합니다.<br><br>
		                    		4. 대피장소로 이동 시 산과 멀리 떨어진 도로를 이용하고 산불의 진행경로에서 벗어난 안전한 장소로 이동합니다.<br><br>
		                    		5. <b>연기 냄새가 나거나 두려움을 느낀다면</b> 산에서 떨어진 마을회관, 학교 등 안전한 장소로 즉시 대피합니다.<br><br>
		                    		6. 산행 중 대피 시 계곡부는 피하고 가능하면 <b>활엽수가 있는 구간</b>을 따라 신속히 하산합니다.<br><br>
		                    		7. 야영 중 대피 시 산불확산 구역과 <b>멀리 떨어진 안전지대</b>로 신속히 이동합니다.<br><br>
		                    		8. 미처 대피하지 못한 경우 바람을 등지고 주변의 낙엽, 가지 등을 제거한 후 <b>엎드려 낮은 자세</b>를 유지합니다.<br><br>
		                    	<p>
	                    	</div>
	                    </div>
	                </div>
	                <div id="safeBehavior_content4">
	                    <div id="safeBehavior_mainImage4">
	                        <img th:src="@{/images/safeBehaviorNum2_4_600800.png}" width="100%" height="100%" alt="이미지를 추가해주세요.">
	                    </div>
						<div id="safeBehavior_mainContent4">
							<div id="safeBehavior_mainTitle4">
	                    		<h3>산불 진화 후에는 이렇게 대처합니다.</h3>
	                    	</div>
	                    	<div id="safeBehavior_mainText4">
		                    	<p>
		                    		1. 안전한 장소로 대피한 후 부상이 없는지 확인하고 가족 또는 지인들에게 상황을 알립니다.<br><br>
		                    		2. 부상이 있는 경우 주변의 도움을 받아 응급 처치하고 <b>소방서(119)등 구조 구급기관</b>에 신고합니다.<br><br>
		                    		3. 거주지 <b>시＊군＊구청 및 행정복지센터</b> 등의 안내에 따라 행동하도록 합니다.<br><br>
		                    		4. 집에 피해가 있는지 확인하고 이동경로 별로 안전을 확인한 후 귀가 여부를 결정합니다.<br><br>
		                    		5. 귀가 후 집 또는 <b>집주변의 상수도, 전기시설</b> 등 피해가 없는지 확인한 후 사용합니다.<br><br>
		                    		6. 집주변 산에 <b>숨겨진 불씨</b>가 있는지 주의 깊게 확인하고 위험이 감지되면 즉시 신고합니다.<br><br>
		                    	<p>
	                    	</div>
						</div>
	                </div>
	            </div>
            </div>
		</section>
		<div id="safeBehavior_contactPopup" onclick="safeBehavior_openPopup()">
			<h4>위기상황, 긴급상황 시 국가＊유관기관 연락처(클릭하세요)</h4>
	    </div>
	    
	    <!-- 팝업 -->
	    <div class="popup" id="safeBehaviorPopup">
	    	<h3>위기상황, 긴급상황 시 전화 및 유관기관 연락처</h3>
	    	<table id="safeBehaviorPopup_tbl">
	    		<tbody>
		    		<tr id="safeBehaviorPopup_tr1">
		    			<th><h4>위기상황, 긴급상황 시 신고전화</h4></th>
		    			<th><h4>행정안전부 홈페이지</h4></th>
		    			<th><h4>유관기관 연락처</h4></th>
		    		</tr>
		    		<tr id="safeBehaviorPopup_tr2">
		    			<td><h4>재난신고 119, <br>
		    				범죄신고 112, <br>
		    				민원 상담 110, <br>
		    				행정안전부 중앙재난안전상황실 044)205-1542~3<br></h4>
		    			</td>
		    			<td>
		    				<h4>
		    				행정안전부 홈페이지 <a href="http://www.mois.go.kr" target="_blank" style="color: #05347E;">http://www.mois.go.kr</a><br>
		    				행정안전부 국민재난안전포털 <a href="http://www.safekorea.go.kr" target="_blank" style="color: #05347E;">http://www.safekorea.go.kr</a><br>
		    				스마트폰 어플리케이션 <안전디딤돌><br>
		    				</h4>
		    			</td>
		    			<td>
		    				<h4>
		    				교육부 044)203-6355, <a href="http://www.moe.go.kr" target="_blank" style="color: #05347E;">http://www.moe.go.kr</a><br>
		    				농림축산식품부 044)201-1474, <a href="https://www.mafra.go.kr" target="_blank" style="color: #05347E;">https://www.mafra.go.kr</a><br>
		    				국토교통부 044)201-3918, <a href="http://www.molit.go.kr" target="_blank" style="color: #05347E;">http://www.molit.go.kr</a><br>
		    				해양수산부 044)200-5617, <a href="http://www.mof.go.kr" target="_blank" style="color: #05347E;">http://www.mof.go.kr</a><br>
		    				경찰청 02)3150-2362, <a href="http://www.police.go.kr" target="_blank" style="color: #05347E;">http://www.police.go.kr</a><br>
		    				소방청 044)205-1119, <a href="http://www.nfa.go.kr" target="_blank" style="color: #05347E;">http://www.nfa.go.kr</a><br>
		    				기상청 02)2181-0503, <a href="http://www.kma.go.kr" target="_blank" style="color: #05347E;">http://www.kma.go.kr</a><br>
		    				해양경찰청 032)835-2445, <a href="http://www.kcg.go.kr" target="_blank" style="color: #05347E;">http://www.kcg.go.kr</a><br>
		    				</h4>
		    			</td>
		    		</tr>
	    		</tbody>
	    	</table>
	    	<button onclick="safeBehavior_closePopup()" class="closePopupBtn">닫기</button>
	    </div>	<!-- 팝업 끝 -->
	</div>
	<div th:replace="~{footer}"></div>
	<script src="/js/contactPopup.js"></script>
	
	<script>
	$(document).ready(function(){
        //초기 설정
        $('#safeBehavior_category1').css({
            'background': '#05347E',
            'color': '#f3eeea',
            'cursor': 'pointer'
        });

        $('#safeBehavior_category th').click(function(event){
        	event.preventDefault(); // 기본 동작 막기
        	
        	// 모든 카테고리에 대한 스타일 초기화
            $('#safeBehavior_category th').css({
                'background': '',
                'color': '',
                'cursor': 'pointer'
            });

            // 클릭한 카테고리에 대한 스타일 변경
            $(this).css({
                'background': '#05347E',
                'color': '#f3eeea',
                'cursor': 'pointer'
            });

         	// 모든 카테고리에 대한 내용 숨기기
            $('#safeBehavior_contents > div').hide();
            
            // 선택된 카테고리에 해당하는 내용 표시
            var contentId = $(this).data('content-id');
            $('#' + contentId).show();

        });
     	
    });
	
    </script>
</body>
</html>