<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>safeBehaviorNum3</title>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/b70f42fdf2.js" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/styleKH.css}">

</head>
<body>
	<div th:replace="~{header}"></div>
   	<div id="pi-title">
		<h3>미세먼지</h3>	
	</div>
	<div id="safeBehavior_bigContainer">
		<section>
			<div id="safeBehavior_container">
				<div id="safeBehavior_topContent">
					<div id="safeBehavior_topVideo">
                        <img th:src="@{/images/safeBehaviorNum3_480280.png}" width="100%" height="100%" alt="이미지를 추가해주세요.">
                    </div>
                    <!-- <div id="safeBehavior_topVideo">
						<video width="100%" height="100%" autoplay muted loop controls poster="@{/images/planB-logo.png}">
	         				<source th:src="@{/medias/safeBehaviorNum3.mp4}" type="video/mp4">
	     				</video>
					</div> -->
					<div id="safeBehavior_topMain">
						<div id="safeBehavior_topTitle">
							<h3>미세먼지에 대해서 주의할 점은 무엇인가요?</h3>
						</div>
						<div id="safeBehavior_topText">
							<h4> &nbsp;미세입자들은 먼지 핵에 여러 종류의 오염물질이 엉겨 붙어 구성된 것으로 호흡기를 통하여 
							인체에 유입될 수 있습니다.<br>
							&nbsp;장기간 흡입 시, 입자가 미세할수록 코점막을 통해 걸러지지 않고 흡입 시 허파꽈리까지 직접 침투하기에 
							천식이나 폐 질환의 유병률, 조기사망률 증가에 영향을 줄 수 있습니다.<br>
							&nbsp;대부분의 연구를 따르면 장기적, 지속적 노출 시 건강영향이 나타나며 단시간 흡입으로 갑자기 신체변화가 
							나타나지는 않는다고 알려져 있습니다. 그러나 <b>어린이＊노인＊호흡기 질환자 등 민감 군</b>은 일반인보다 
							건강영향이 클 수 있어 더 각별한 주의가 필요합니다.<br>
							</h4>
						</div>
					</div>
				</div>
				<div id="safeBehavior_categoryTitle">
					<h3>미세먼지 발생시 이렇게 행동해주세요!</h3>
				</div>
				<div>
					<table id="safeBehavior_category">
						<tbody>
							<tr>
								<th id="safeBehavior_category1" data-content-id="safeBehavior_content1">미세먼지<br> 많은 날</th>
	                            <th id="safeBehavior_category2" data-content-id="safeBehavior_content2">미세먼지<br> 주의보 시<br> 행동요령</th>
	                            <th id="safeBehavior_category3" data-content-id="safeBehavior_content3">미세먼지<br> 경보 시<br> 행동요령</th>
	                            <th id="safeBehavior_category4" data-content-id="safeBehavior_content4">미세먼지 정보<br> 확인 방법</th>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="safeBehavior_contents">
	                <div id="safeBehavior_content1" class="active">
	                    <div id="safeBehavior_mainImage1">
	                        <img th:src="@{/images/safeBehaviorNum3_1_600800.png}" width="100%" height="100%" alt="이미지를 추가해주세요.">
	                    </div>
	                    <div id="safeBehavior_mainContent1">
	                    	<div id="safeBehavior_mainTitle1">
	                    		<h3>미세먼지가 많은 날에는...</h3>
	                    	</div>
	                    	<div id="safeBehavior_mainText1">
		                    	<p>
		                    		<b>1. 민감군</b><br>
		                    		&nbsp;- 보통: 실외활동 시 특별히 행동에 제약을 받을 필요는 없지만 몸 상태에 따라 유의하여 활동합니다.<br>
		                    		&nbsp;- 나쁨: 장시간 또는 <b>무리한 실외활동을 제한</b>하고, 특히 <b>천식</b>을 앓고 있는 사람이 실외에 있는 경우 <b>흡입기</b>를
		                    		 더 자주 사용할 필요가 있습니다.<br>
		                    		&nbsp;- 매우나쁨: 가급적 실내활동을 하고, 실외 활동 시 의사와 상의합니다.<br><br>
		                    		<b>2. 일반인</b><br>
		                    		&nbsp;- 나쁨: 장시간 또는 <b>무리한 실외활동을 제한</b>하고, 특히 눈이 아픈 증상이 있거나, 기침이나 목의 통증으로 
		                    		불편한 사람은 실외활동을 피해야 합니다.<br>
		                    		&nbsp;- 매우나쁨: 장시간 또는 <b>무리한 실외 활동을 제한</b>하고, 목의 통증과 기침 등의 증상이 있는 사람은 실외 활동을 
		                    		피해야 합니다.<br><br>
		                    	<p>
	                    	</div>
	                    </div>
	                </div>
	                <div id="safeBehavior_content2">
	                    <div id="safeBehavior_mainImage2">
	                        <img th:src="@{/images/safeBehaviorNum3_2_600800.png}" width="100%" height="100%" alt="이미지를 추가해주세요.">
	                    </div>
	                    <div id="safeBehavior_mainContent2">
	                    	<div id="safeBehavior_mainTitle2">
	                    		<h3>미세먼지 주의보 시에 이렇게 행동합니다.</h3>
	                    	</div>
	                    	<div id="safeBehavior_mainText2">
		                    	<p>
		                    		1. 민감군(어린이＊노인＊폐질환 및 심장질환자)은 <b>실외활동 제한 및 실내활동을 권고</b>합니다.<br><br>
		                    		2. 일반인은 <b>장시간 또는 무리한 실외활동을 줄입니다.</b>(특히, 눈이 아프거나, 기침 또는 목의 통증이 있는 경우
		                    		실외활동 자제)<br><br>
		                    		3. 부득이 외출 시 <b>황사(보호) 마스크</b>를 착용합니다.(폐 기능 질환자는 의사와 충분한 상의 후 사용권고)<br><br>
		                    		4. 교통량이 많은 지역 이동을 자제합니다.<br><br>
		                    		5. 유치원＊초등학교의 <b>실외 수업을 자제</b>합니다.<br><br>
		                    		6. 공공기관의 운영과 <b>야외 체육시설의 운영을 제한</b>합니다.<br><br>
		                    		7. <b>과격한 실외 활동 자제</b>를 홍보합니다.<br><br>
		                    	<p>
	                    	</div>
	                    </div>
	                </div>
	                <div id="safeBehavior_content3">
	                    <div id="safeBehavior_mainImage3">
	                        <img th:src="@{/images/safeBehaviorNum3_3_600800.png}" width="100%" height="100%" alt="이미지를 추가해주세요.">
	                    </div>
	                    <div id="safeBehavior_mainContent3">
	                    	<div id="safeBehavior_mainTitle3">
	                    		<h3>미세 먼지 경보 시에 이렇게 행동합니다.</h3>
	                    	</div>
	                    	<div id="safeBehavior_mainText3">
		                    	<p>
		                    		1. 민감군(어린이＊노인＊폐질환 및 심장질환자)은 <b>실외활동을 금지</b>합니다.(실외활동 시 의사와 상의)<br><br>
		                    		2. 일반인은 장시간 또는 <b>무리한 실외활동을 자제</b>합니다.(기침 또는 목의 통증이 있는 경우 실내활동)<br><br>
		                    		3. 부득이 외출 시 <b>황사(보호) 마스크</b>를 착용합니다.<br><br>
		                    		4. <b>교통량이 많은 지역은 가급적 이동을 금지</b>합니다.<br><br>
		                    		5. 유치원＊학교의 <b>실외 수업을 금지하고,</b> 수업단축 또는 휴교합니다.<br><br>
		                    		6. 야외 체육시설의 <b>운영을 중단합니다.</b><br><br>
		                    		7. <b>과격한 실외 활동 중단</b>을 홍보합니다.<br><br>
		                    	<p>
	                    	</div>
	                    </div>
	                </div>
	                <div id="safeBehavior_content4">
	                    <div id="safeBehavior_mainImage4">
	                        <img th:src="@{/images/safeBehaviorNum3_4_600800.png}" width="100%" height="100%" alt="이미지를 추가해주세요.">
	                    </div>
						<div id="safeBehavior_mainContent4">
							<div id="safeBehavior_mainTitle4">
	                    		<h3>미세먼지 정보를 확인하는 방법은?</h3>
	                    	</div>
	                    	<div id="safeBehavior_mainText4">
		                    	<p>
		                    		에어코리아(환경부 전국 실시간 대기오염도 사이트)- 
		                    		<a href="https://www.airkorea.or.kr/" target="_blank" style="color: #05347E;">https://www.airkorea.or.kr/</a><br><br>
		                    		기상청 사이트-
		                    		<a href="https://www.weather.go.kr/w/index.do" target="_blank" style="color: #05347E;">https://www.weather.go.kr/w/index.do</a><br><br>
		                    		대기질 어플리케이션- 안드로이드, 아이폰<br><br>
		                    	<p>
	                    	</div>
						</div>
	                </div>
	            </div>
            </div>
		</section>
		<div id="safeBehavior_contactPopup" onclick="safeBehavior_openPopup()">
			<h4>위기상황, 긴급상황 시 국가＊유관기관 연락처(클릭하세요)</h4>
	    </div>
	    
	    <!-- 팝업 -->
	    <div class="popup" id="safeBehaviorPopup">
	    	<h3>위기상황, 긴급상황 시 전화 및 유관기관 연락처</h3>
	    	<table id="safeBehaviorPopup_tbl">
	    		<tbody>
		    		<tr id="safeBehaviorPopup_tr1">
		    			<th><h4>위기상황, 긴급상황 시 신고전화</h4></th>
		    			<th><h4>행정안전부 홈페이지</h4></th>
		    			<th><h4>유관기관 연락처</h4></th>
		    		</tr>
		    		<tr id="safeBehaviorPopup_tr2">
		    			<td><h4>재난신고 119, <br>
		    				범죄신고 112, <br>
		    				민원 상담 110, <br>
		    				행정안전부 중앙재난안전상황실 044)205-1542~3<br></h4>
		    			</td>
		    			<td>
		    				<h4>
		    				행정안전부 홈페이지 <a href="http://www.mois.go.kr" target="_blank" style="color: #05347E;">http://www.mois.go.kr</a><br>
		    				행정안전부 국민재난안전포털 <a href="http://www.safekorea.go.kr" target="_blank" style="color: #05347E;">http://www.safekorea.go.kr</a><br>
		    				스마트폰 어플리케이션 <안전디딤돌><br>
		    				</h4>
		    			</td>
		    			<td>
		    				<h4>
		    				교육부 044)203-6355, <a href="http://www.moe.go.kr" target="_blank" style="color: #05347E;">http://www.moe.go.kr</a><br>
		    				농림축산식품부 044)201-1474, <a href="https://www.mafra.go.kr" target="_blank" style="color: #05347E;">https://www.mafra.go.kr</a><br>
		    				국토교통부 044)201-3918, <a href="http://www.molit.go.kr" target="_blank" style="color: #05347E;">http://www.molit.go.kr</a><br>
		    				해양수산부 044)200-5617, <a href="http://www.mof.go.kr" target="_blank" style="color: #05347E;">http://www.mof.go.kr</a><br>
		    				경찰청 02)3150-2362, <a href="http://www.police.go.kr" target="_blank" style="color: #05347E;">http://www.police.go.kr</a><br>
		    				소방청 044)205-1119, <a href="http://www.nfa.go.kr" target="_blank" style="color: #05347E;">http://www.nfa.go.kr</a><br>
		    				기상청 02)2181-0503, <a href="http://www.kma.go.kr" target="_blank" style="color: #05347E;">http://www.kma.go.kr</a><br>
		    				해양경찰청 032)835-2445, <a href="http://www.kcg.go.kr" target="_blank" style="color: #05347E;">http://www.kcg.go.kr</a><br>
		    				</h4>
		    			</td>
		    		</tr>
	    		</tbody>
	    	</table>
	    	<button onclick="safeBehavior_closePopup()" class="closePopupBtn">닫기</button>
	    </div>	<!-- 팝업 끝 -->
	</div>
	<div th:replace="~{footer}"></div>
	<script src="/js/contactPopup.js"></script>
	
	<script>
	$(document).ready(function(){
        //초기 설정
        $('#safeBehavior_category1').css({
            'background': '#05347E',
            'color': '#f3eeea',
            'cursor': 'pointer'
        });

        $('#safeBehavior_category th').click(function(event){
        	event.preventDefault(); // 기본 동작 막기
        	
        	// 모든 카테고리에 대한 스타일 초기화
            $('#safeBehavior_category th').css({
                'background': '',
                'color': '',
                'cursor': 'pointer'
            });

            // 클릭한 카테고리에 대한 스타일 변경
            $(this).css({
                'background': '#05347E',
                'color': '#f3eeea',
                'cursor': 'pointer'
            });

         	// 모든 카테고리에 대한 내용 숨기기
            $('#safeBehavior_contents > div').hide();
            
            // 선택된 카테고리에 해당하는 내용 표시
            var contentId = $(this).data('content-id');
            $('#' + contentId).show();

        });
     	
    });
	
    </script>
</body>
</html>