<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>댓글 수정</title>
</head>
<body>
	<div th:replace="~{header}"></div>
	<div id="content">
		<div class="board_content">
		<div class="replyUpdateForm">
		    <form th:action="@{/reply/update}" method="post" id="replyform">
				<!-- 'hidden'은 ui를 만들지 않고 데이터 숨겨서 보낼때 사용 -->
				<input type="hidden" name="id" th:value="${reply.id}">
				<input type="hidden" name="replyer" th:value="${session.sessionId}">
				<input type="hidden" name="boardId" th:value="${reply.boardId }">
				<table>
					<tbody>
						<tr>
							<td><textarea name="rcontent" class="write-control" th:text="${reply.rcontent}"
							rows="5" style="resize: none;"></textarea></td>
						</tr>
						<tr>
							<td class="writeBot">
								<button type="submit" class="btn btn-outline-secondary">저장</button>
								<button type="reset" class="btn btn-outline-secondary">리셋</button>
								<a th:href="@{|/board/${reply.boardId}|}"><button type="button" class="btn btn-outline-secondary">취소</button></a>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
		</div>
	</div>
	<div th:replace="~{footer}"></div>
</body>
</html>