<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <link rel="stylesheet" href="/css/Mainstyle.css">
    <script src="https://kit.fontawesome.com/6673aed616.js" crossorigin="anonymous"></script>
</head>

<body>
	 <footer th:fragment="footer-fragment">
	 	
	 	<section id="planB-footer"> 
	 	
	 		<div class="footer-wrap">
		 		<!-- 공지사항, 자주묻는질문, 개인정보처리방침 -->
		 		<div class="footer-wrap-pages">
		 			<a th:href="@{/noticeboard/}">공지사항</a> <!-- [상현] 공지사항(ADMIN 게시글) -->
		 			<a th:href="@{/pages/faq}">자주묻는질문</a> <!-- [상현]자주묻는 질문FAQ 페이지 href -->
		 			<a th:href="@{/pages/privacyPolicy}">개인정보처리방침</a> <!-- [나경] 개인정보처리방침 페이지 href -->
		 		</div>
				<!-- ADMIN -->
				<div class="footer-wrap-admin">			
		 			<a sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{/member/list}"><i class="fa-solid fa-user-lock"></i> ADMIN</a> <!-- [상현]ADMIN 전용 유저관리 페이지 href -->
		 		</div> 
		 	</div>
		 		
	 		<!-- 07212 서울 영등포구 선유동2로 57 이레빌딩 19F , Copyright2024 Guardians of Korea All rights reserved. -->
	 		<div class="footer-loca-copy">
	 			<p>07212 서울 영등포구 선유동2로 57 이레빌딩 19F</p>
	 			<p>Copyright 2024 Guardians of Korea All rights reserved<a th:href="@{/ex/game}">.</a></p>
	 		</div>
	 	</section>
	 	
	 </footer>
</body>
</html>