<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공지사항</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
      <div th:replace="~{header}"></div>
   <h2 class="board_h2">공지사항 상세보기</h2>
   <div id="content">     
      <div class="board_content">
      <table class="tbl_detail">
         <tr>
            <td style="border-bottom: 2px solid #000;">
               <div style="font-size: 33px;">
                  <span th:text="${board.boardTitle}"></span>
               </div>
                <div style="font-size: 15px" th:if="${board.updatedDate ne null}">
                    작성일시: <span th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></span>&nbsp;
                    수정일시: <span th:text="${#temporals.format(board.updatedDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                </div>
                <div style="font-size: 15px" th:if="${board.updatedDate eq null}">
                    작성일시: <span th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></span>    
                </div>
               <div style="display: flex; justify-content: space-between;">
                   <div th:if="${board.boardHits != null}">
                       조회수: <span th:text="${board.boardHits} + '회'"></span>
                   </div>
                   <div th:if="${board.likeCount != null && board.likeCount != 0}">
                       추천수: <span th:text="${board.likeCount} + '회'"></span>
                   </div>
               </div>
            </td>
         </tr>
         <tr>
            <td style="border-bottom: 2px solid #000; height: 30px;">
               <div style="display: flex; justify-content: space-between;">
                  <div>
                     <p style="font-size: 18px;">
                         작성자: <span th:text="${board.boardWriter}"></span>
                     </p>   
                  </div>   
                  <div style="font-weight:bold">
                     <a th:href="@{|/noticevote/${board.id}|}">
                         추천
                      </a>
                      |
                      <a th:href="@{|/noticereport/${board.id}|}">
                         신고
                      </a>
                   </div>
               </div>      
            </td>
         </tr>
         <tr th:if="${not #strings.isEmpty(board.filepath)}">
            <td>
               <div style="width:50%; margin: 10px auto;"><img th:src="@{|/upload/${board.filename}|}" alt="" style="width:100%;"></div>
            </td>
         </tr>
         <tr>
            <td style="border-bottom: 2px solid #000;">
               <div class="text-left" style="height:400px;">
                       <span th:text="${board.boardContent}"></span>
               </div>
            </td>
         </tr>
         <tr>
            <td>
            	<div style="margin: 5px 0px 20px 0px;">
                <span th:if="${#authentication.principal.member.name == board.boardWriter}">
                  <a th:href="@{|/noticeboard/update/${board.id}|}">
                        <button class="board_btn" style="margin: 5px;">수정</button>
                    </a>
                    <a th:href="@{|/noticeboard/delete/${board.id}|}" onclick="return confirm('정말로 삭제하시겠습니까?')">
                       <button class="board_btn" style="margin: 5px;">삭제</button>
                    </a>
                </span>
              	<a th:href="@{/noticeboard/(page=${page})}">
                    <button class="board_btn" style="margin: 5px;">목록</button>
                </a>
                </div>
            </td>
         </tr>
      </table>
      <!-- 댓글 -->
      <div class="replyform">
           <p class="rtitle">댓글</p>
             <div class = "reply_reply" th:each="reply : ${replyList}">
               <div class = "rcontent">
                  <span th:text=${reply.rcontent}></span>
               </div>
               <div class = "replyer">
                  <span th:text=${reply.replyer}></span>
               </div>
               <div class = "rdate">
                  <span style="font-size: small;">
                   작성일시: [[${#temporals.format(reply.createdDate, 'yyyy-MM-dd HH:mm:ss')}]]
                   <span th:if="${reply.updatedDate != null}">
                       수정일시: [[${#temporals.format(reply.updatedDate, 'yyyy-MM-dd HH:mm:ss')}]]
                   </span>
               </span>   
               <p th:if="${#authentication.principal.member.name == reply.replyer}">
               <a th:href="@{|/noticereply/update/${reply.id }|}" style="font-weight:bold">수정</a> | 
                  <a th:href="@{|/noticereply/delete/${reply.id }|}" style="font-weight:bold">삭제</a>
               </p>
               </div>
             </div>
             <div class="replyWrite">
            <form th:action="@{/noticereply/write}" method="post" id="replyform">
               <input type="hidden" name="boardId" th:value="${board.id}">
               <p>
               <textarea name="rcontent" id="rcontent" class="form-control" rows="5"
                  placeholder="댓글 작성란" style="resize: none;" required></textarea>
               </p>
               <button type="submit" class="board_btn" id="replyAddBtn">등록</button>
            </form>   
         </div>   
        </div> 
        </div>     
   </div>
   <div th:replace="~{footer}"></div>
</body>
</html>