<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공지사항</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<script src="https://kit.fontawesome.com/69798321c6.js" ></script>
</head>
<body>
	<div th:replace="~{layout/header}"></div>

		<div id="content">
		<div class="content_list">
		<h2 class="text-left">공지사항</h2>
		<table class="table" id="tbl_list">
			<thead>
				<tr>
					<th scope="col">글분류</th>
					<th scope="col">글제목</th>
					<th scope="col">글쓴이</th>
					<th scope="col">작성일</th>
					<th scope="col">조회수</th>
					<th scope="col">추천</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="board : ${boardList}">
	                <th th:text="공지사항"></th>

				    <td class="td_title" style="width:200px;">
					    <a th:href="@{|/noticeboard/${board.id}|(page=${boardList.number+1})}">
					    	<span th:text="${board.boardTitle}"></span>
					    	<span style="font-size:small;" th:if="${board.replyCount != 0}" th:text="'[ ' + ${board.replyCount} + ' ]'"></span>
					    </a>
					</td>

	                <td th:text="${board.boardWriter}"></td>
	                <td th:utext="${board.updatedDate != null ? #temporals.format(board.updatedDate, 'yyyy-MM-dd hh:mm') : #temporals.format(board.createdDate, 'yyyy-MM-dd hh:mm')}"></td>
	                <td th:text="${board.boardHits}"></td>
	                <td th:text="${board.likeCount}"></td>
	            </tr>
			</tbody>
		</table>
		<!-- 페이징처리 시작 -->
			<div style="width: 50%; margin: 10px auto;">
	              <ul class="pagination justify-content-center">                 
	                   <li th:class="${nowPage eq 1} ? 'page-item disabled' : 'page-item'">
	                       <a class="page-link" th:href="${startPage eq 1}? '/noticeboard/?page=1' : @{/noticeboard/(page=${startPage-1})}">&lt;&lt;</a>
	                   </li>
	                   <li th:class="${nowPage eq 1} ? 'page-item disabled' : 'page-item'">
	                       <a class="page-link" th:href="${boardList.first}? '/noticeboard/?page=1' : @{/noticeboard/(page=${boardList.number})}">&lt;</a>
	                   </li>
	                   <li th:class="${nowPage eq page} ? 'page-item active' : 'page-item'" th:each="page : ${#numbers.sequence(startPage, endPage)}">
						    <a class="page-link" th:href="@{/noticeboard/(page=${page})}">
						        <span th:text="${page}"></span>
						    </a>
						</li>
	                   <li th:class="${nowPage eq boardList.totalPages} ? 'page-item disabled' : 'page-item'">
	                       <a class="page-link" th:href="${boardList.last}? @{/noticeboard/(page=${endPage})} : @{/noticeboard/(page=${boardList.number+2})}">&gt;</a>
	                   </li>
	                   <li th:class="${nowPage eq boardList.totalPages} ? 'page-item disabled' : 'page-item'">
	                       <a class="page-link" th:href="${boardList.totalPages eq endPage}? @{/noticeboard/(page=${endPage})} : @{/noticeboard/(page=${endPage+1})}">&gt;&gt;</a>
	                   </li>
	              </ul>
	       </div>
          <!-- 페이징처리 끝 -->
		<!-- 검색 영역 -->
			<div style="width:50%; margin: 0px auto;">
			  <form th:action="@{/noticeboard/}" method="get">
			  	<div style="display: flex; justify-content: center;">
					<select name="field" class="btn btn-outline-secondary dropdown-toggle">
						<option value="t" th:selected="${field == 't'}" th:text="제목"></option>
	                    <option value="c" th:selected="${field == 'c'}" th:text="내용"></option>
	                    <option value="w" th:selected="${field == 'w'}" th:text="작성자"></option>
	                </select>
					<input type="text" class="form-control" name="kw" th:value="${kw}" id="inputGroupFile04" 
							placeholder="검색" aria-describedby="inputGroupFileAddon04" aria-label="Upload" style="width:50%">
					<button type="submit" class="btn btn-outline-secondary"><i class="fa-solid fa-magnifying-glass"></i></button>
			  		<a th:if="${session.sessionRole == 'ADMIN'}" th:href = "@{/noticeboard/write}"><button type="button" class="btn btn-outline-secondary">글쓰기</button></a>
			  	</div>
			  </form>
			 </div>
			 <a th:href = "@{/}">처음으로</a>
		</div>
	</div>
</body>
</html>