<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Data 7</title>
</head>
<body>

<!-- 테이블 시작 -->
<div th:replace="~{header}"></div> 
	<div class="main-main">
	
	<div id="state_sub" class="bg_4">
    <div class="stateWrap">
                <strong>산불</strong>
        <ul>
                <li class=""><a th:href="@{/data/data3}"><strong>지진</strong></a></li>
                <li class=""><a th:href="@{/data/data6}"><strong>산사태</strong></a></li>
                <li class="active"><a href=""><strong>대기오염</strong></a></li>
                <li class=""><a href=""><strong>붕괴</strong></a></li>
                <li class=""><a th:href="@{/data/data2}"><strong>산불</strong></a></li>
        </ul>
    </div>
	</div>

<div class="leftArea">
	<img alt="" src="/images/미세먼지.png">
</div>
<div class="rightArea">
                    <div class="status">
                        <div class="titArea">
                            <strong>미세먼지 경보 현황</strong>
                            
                        </div>
                        <div class="alarmWrap">
                            <div id="alarm">
	                            <ul class="scr1">
	                            	
									
	                                	<li class="none"><span>현재 발령된 미세먼지 경보가 없습니다.</span></li>
									
	                            </ul>
	                        </div>
                        </div>
                    </div>
                    <div class="forecast">
                        <div class="titArea">
                            <strong>대기환경 예보</strong>
                        </div>
                        <ul class="length2">
                            <li class="on" id="PM25" style=""><a href="javascript:;" onclick="forecastTab('box2',this)">초미세먼지</a></li>
                            <li id="PM10" style=""><a href="javascript:;" onclick="forecastTab('box1',this)">미세먼지</a></li><!-- 활성화시 class="on" 추가 -->
                            <li id="O3" style="display: none;"><a href="javascript:;" onclick="forecastTab('box3',this)">오존</a></li>
                        </ul>
                        <div class="predictionWrap">
                            <div class="box1">
                                <ul class="dayTab"><li class="on"><a href="javascript:;" onclick="tabMode('today',this);">오늘</a></li><li class=""><a href="javascript:;" onclick="tabMode('tomorrow',this);">내일</a></li><li class=""><a href="javascript:;" onclick="tabMode('afterTomorrow',this);">모레</a></li></ul>
                                <span class="dayText">2024년 02월 08일 17시 발표</span>
                                <div class="today tabCont">
                                    <ul class="tableLayout">
                                        <li class="length9">
                                            <table>
                                                <caption>지역별 미세먼지 상태</caption>
                                                <colgroup>
                                                    <col width="99px">
                                                    <col width="*">
                                                </colgroup>
                                                <tbody><tr><th>경기남부 </th><td><span class="level3"> 나쁨</span></td></tr><tr><th>경기북부 </th><td><span class="level2"> 보통</span></td></tr><tr><th>경남 </th><td><span class="level2"> 보통</span></td></tr><tr><th>경북 </th><td><span class="level2"> 보통</span></td></tr><tr><th>광주 </th><td><span class="level2"> 보통</span></td></tr><tr><th>대구 </th><td><span class="level2"> 보통</span></td></tr><tr><th>대전 </th><td><span class="level2"> 보통</span></td></tr><tr><th>부산 </th><td><span class="level2"> 보통</span></td></tr><tr><th>서울 </th><td><span class="level2"> 보통</span></td></tr></tbody>
                                            </table>
                                        </li>
                                        <li class="length10">
                                            <table>
                                                <caption>지역별 미세먼지 상태</caption>
                                                <colgroup>
                                                    <col width="99px">
                                                    <col width="*">
                                                </colgroup>
                                                <tbody><tr><th>세종 </th><td><span class="level3"> 나쁨</span></td></tr><tr><th>영동 </th><td><span class="level1"> 좋음</span></td></tr><tr><th>영서 </th><td><span class="level2"> 보통</span></td></tr><tr><th>울산 </th><td><span class="level2"> 보통</span></td></tr><tr><th>인천 </th><td><span class="level2"> 보통</span></td></tr><tr><th>전남 </th><td><span class="level2"> 보통</span></td></tr><tr><th>전북 </th><td><span class="level2"> 보통</span></td></tr><tr><th>제주 </th><td><span class="level2"> 보통</span></td></tr><tr><th>충남 </th><td><span class="level2"> 보통</span></td></tr><tr><th>충북 </th><td><span class="level3"> 나쁨</span></td></tr></tbody>
                                            </table>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tomorrow tabCont" style="display:none;">
                                    <ul class="tableLayout">
                                        <li class="length9">
                                            <table>
                                                <caption>지역별 미세먼지 상태</caption>
                                                <colgroup>
                                                    <col width="99px">
                                                    <col width="*">
                                                </colgroup>
                                                <tbody><tr><th>경기남부 </th><td><span class="level3"> 나쁨</span></td></tr><tr><th>경기북부 </th><td><span class="level2"> 보통</span></td></tr><tr><th>경남 </th><td><span class="level2"> 보통</span></td></tr><tr><th>경북 </th><td><span class="level3"> 나쁨</span></td></tr><tr><th>광주 </th><td><span class="level2"> 보통</span></td></tr><tr><th>대구 </th><td><span class="level3"> 나쁨</span></td></tr><tr><th>대전 </th><td><span class="level3"> 나쁨</span></td></tr><tr><th>부산 </th><td><span class="level2"> 보통</span></td></tr><tr><th>서울 </th><td><span class="level2"> 보통</span></td></tr></tbody>
                                            </table>
                                        </li>
                                        <li class="length10">
                                            <table>
                                                <caption>지역별 미세먼지 상태</caption>
                                                <colgroup>
                                                    <col width="99px">
                                                    <col width="*">
                                                </colgroup>
                                                <tbody><tr><th>세종 </th><td><span class="level3"> 나쁨</span></td></tr><tr><th>영동 </th><td><span class="level2"> 보통</span></td></tr><tr><th>영서 </th><td><span class="level2"> 보통</span></td></tr><tr><th>울산 </th><td><span class="level2"> 보통</span></td></tr><tr><th>인천 </th><td><span class="level2"> 보통</span></td></tr><tr><th>전남 </th><td><span class="level2"> 보통</span></td></tr><tr><th>전북 </th><td><span class="level3"> 나쁨</span></td></tr><tr><th>제주 </th><td><span class="level2"> 보통</span></td></tr><tr><th>충남 </th><td><span class="level3"> 나쁨</span></td></tr><tr><th>충북 </th><td><span class="level3"> 나쁨</span></td></tr></tbody>
                                            </table>
                                        </li>
                                    </ul>
                                </div>
                                <div class="afterTomorrow tabCont" style="display:none;">
                                    <div class="noticeArea scr1">
                                        <p>○ [미세먼지] 수도권·강원영서·충청권·호남권·대구·경북·경남·제주권은 '나쁨', 그 밖의 권역은 '보통'으로 예상됩니다. 다만, 수도권·충청권·호남권·제주권은 오후에 '매우나쁨', 강원영동·부산·울산은 밤에 일시적으로 '나쁨' 수준일 것으로 예상됩니다.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!-- <table id="result1" class="table" style="font-size:14px;">
    <thead>
        테이블 헤더 정의
        <tr>
            각 열의 제목 지정
            <th scope="col">대구</th>
            <th scope="col">충청남도</th>
            <th scope="col">인천</th>
            <th scope="col">대전</th>
            <th scope="col">경상북도</th>
            <th scope="col">세종</th>
            <th scope="col">광주</th>
            <th scope="col">전라북도</th>
            <th scope="col">강원도</th>
            <th scope="col">울산</th>
            <th scope="col">전라남도</th>
            <th scope="col">서울</th>
            <th scope="col">부산</th>
            <th scope="col">제주</th>
            <th scope="col">충청북도</th>
            <th scope="col">경상남도</th>
            <th scope="col">경기도</th>
             <th scope="col">데이터 시간</th>
        </tr>
    </thead>
    <tbody>
        데이터 리스트를 반복하여 각 항목을 출력
        <tr th:each="item : ${dataList}">
            각 열에 해당하는 데이터 출력
            <td th:text="${item['대구']}"></td>
            <td th:text="${item['충청남도']}"></td>
            <td th:text="${item['인천']}"></td>
            <td th:text="${item['대전']}"></td>
            <td th:text="${item['경상북도']}"></td>
            <td th:text="${item['세종']}"></td>
            <td th:text="${item['광주']}"></td>
            <td th:text="${item['전라북도']}"></td>
            <td th:text="${item['강원도']}"></td>
            <td th:text="${item['울산']}"></td>
            <td th:text="${item['전라남도']}"></td>
            <td th:text="${item['서울']}"></td>
            <td th:text="${item['부산']}"></td>
            <td th:text="${item['제주']}"></td>
            <td th:text="${item['충청북도']}"></td>
            <td th:text="${item['경상남도']}"></td>
            <td th:text="${item['경기도']}"></td>
           <td th:text="${item['데이터 시간']}"></td>
            
        </tr>
    </tbody>
</table> -->
<!-- 테이블 종료 -->

</div>
</body>
</html>
