<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Data 4</title>
    <script th:src="@{https://code.jquery.com/jquery-3.7.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style2.css}">
</head>
<body>
<div th:replace="~{header}"></div> 
<div id="pi-title">
	<h3>붕괴</h3>	
</div>	
	<div class="main-main">
	
	
    <!-- 테이블 시작 -->
    <div class="top-talbe">
    <h2>발생내역</h2>
    <table id="result1" class="table-talbe2" style="font-size:14px;">
        <thead>
            <!-- 테이블 헤더 정의 -->
            <tr>
                <!-- 각 열의 제목 지정 -->
                <th scope="col">발생시각</th>
            	<th scope="col">발생일시</th>
            	<th scope="col">주소</th>
            	
           <th scope="col">사고원인</th>
           <th scope="col">사상자수</th>
            <th scope="col">사망자수</th>
           <th scope="col">부상자수</th>
            <th scope="col">피해액</th>
           
                
              
                
                
            </tr>
        </thead>
        <tbody>
            <!-- 데이터 리스트를 반복하여 각 항목을 출력 -->
             <tr th:each="dataMap : ${dataMapList}">
            <!-- dataMap에서 필요한 데이터 가져오기 -->
            <td th:text="${dataMap['OCCU_MT']}"></td>
            <td th:text="${dataMap['OCCU_DE']}"></td>
            <td th:text="${dataMap['ADRES']}">없음</td>
           
            <td th:text="${dataMap['RESN']}">없음</td>
            <td th:text="${dataMap['CASLT']}">없음</td>
            <td th:text="${dataMap['DEATH']}">없음</td>
            <td th:text="${dataMap['INJPSN']}">없음</td>
            <td th:text="${dataMap['AMOUNT']}">없음</td>
            
            </tr>
        </tbody>
    </table>
    <!-- 테이블 종료 -->
    </div>
    <div class="mid-img">
    	<h2>발생현황</h2>
    	<div class="exDataViewBox mt-12 mb-40">
            <div class="exDataViewBoxImg">
            <img src="/images/qndrhl1.png" alt="발생현황">
            <img src="/images/qndrhl2.png" alt="발생현황">
            </div>
            <div class="exDataViewBoxCon">
                <p>2018~2020년 모두 483건의 건축물 붕괴사고가 발생했다. 월별로는 8월이 121건으로 가장 많은 사고가 발생했다.</p>
            </div>
          </div>
    
    </div>
    <div class="botom-img">
    <h2>인명피해</h2>
    <div class="exDataViewBox mt-12 mb-40">
            <div class="exDataViewBoxImg">
            <img src="/images/qndrhl3.png" alt="인명피해">
            <img src="/images/qndrhl4.png" alt="인명피해">
            </div>
            <div class="exDataViewBoxCon">
                <p>건축물붕괴사고는 2018년 ~ 2020년 모두 138명의 부상자가 발생하였고 2018년 9명, 2019년~2020년에 13명의 사망자가 발생했다.</p>
            </div>
          </div>
    </div>
    </div>
   <div th:replace="~{footer}"></div> 
</body>
</html>