@charset "UTF-8";

/* 나눔 바른고딕 폰트 */
@font-face {
    font-family: 'NanumBarunGothic';
    src: url('/static/fonts/NanumBarunGothic.otf') format('opentype'),
         url('/static/fonts/NanumBarunGothic.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'NanumBarunGothic';
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot'),
         url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'),
         url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'),
         url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'NanumBarunGothic';
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot'),
         url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'),
         url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'),
         url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
    font-weight: 300;
}

/* 공통 스타일 설정 */
.nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
}

/*============================================================
	<<나눔 스퀘어 라운드>>
	font-family: 'NanumSquareRoundLight';
	font-family: 'NanumSquareRound';
	font-family: 'NanumSquareRoundBold';
	font-family: 'NanumSquareRoundExtraBold';
=================================================================*/

@font-face {
    font-family: 'NanumSquareRound'; /* 폰트 이름 설정 */
    src: url('/static/fonts/NanumSquareRound.otf') format('opentype'),
    	 url('/static/fonts/NanumSquareRound.ttf') format('truetype'); /* 폰트 경로 설정 */
}
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


