<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원정보...</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
   <div class="ch">
    <div th:replace="~{header}"></div>
	<div id="container">
	  <section id="update">
		<h2>회원 수정</h2>
		<form th:action="@{/member/update}" method="post" 
		enctype="multipart/form-data" name="users"
			class="updateform" th:object="${memberDTO}" onsubmit="return checkUser();">
		<input type="hidden" name="id" th:value="${member.id}">
		   <fieldset>
		  	<ul>
		  		<li>
		  			<label for="memberId">아이디</label>
		  			<input type="text" name="memberId" readonly
		  				id="memberId" th:value="${member.memberId}">
		  		</li>
		  		<li>
		  			<label for="memberFile">사진</label>
		  			<input type="file" name="memberFile"
		  			    id="filename">
		  		</li>
		  		<li>
		  			<label for="password">비밀번호</label>
		  			<input type="password" name="password"
		  			    id="password" placeholder="비밀번호를 입력해주세요">
		  		</li>
		  		<li>
		  			<label for="name">이름</label>
		  			<input type="text" name="name"
		  			    id="name" th:value="${member.name}" readonly>
		  		</li>
		  		<li>
		  			<label for="memberEmail">이메일</label>
		  			<input type="text" name="memberEmail" readonly
		  			    id="memberEmail" th:value="${member.memberEmail}">
		  		</li>
		  		<li>
		  			<label for="memberAge">생년월일</label>
		  			<input type="date" name="memberAge"
		  			    id="memberAge" th:value="${member.memberAge}" readonly>
		  		</li>
		  		<li>
		  			<label for="mnumber">전화번호</label>
		  			<input type="text" name="mnumber"
		  			    id="mnumber" th:value="${member.mnumber}">
		  		</li>
		  		<li>
		  			<label for="memberArea">지역</label>
		  			<select name="memberArea" id="memberArea">
					    <option value="">---------------선택---------------</option>
					    <option value="서울특별시" th:selected="${member.memberArea == '서울특별시'}">서울특별시</option>
					    <option value="부산광역시" th:selected="${member.memberArea == '부산광역시'}">부산광역시</option>
					    <option value="대구광역시" th:selected="${member.memberArea == '대구광역시'}">대구광역시</option>
					    <option value="인천광역시" th:selected="${member.memberArea == '인천광역시'}">인천광역시</option>
					    <option value="광주광역시" th:selected="${member.memberArea == '광주광역시'}">광주광역시</option>
					    <option value="대전광역시" th:selected="${member.memberArea == '대전광역시'}">대전광역시</option>
					    <option value="울산광역시" th:selected="${member.memberArea == '울산광역시'}">울산광역시</option>
					    <option value="세종특별자치시" th:selected="${member.memberArea == '세종특별자치시'}">세종특별자치시</option>
					    <option value="경기도" th:selected="${member.memberArea == '경기도'}">경기도</option>
					    <option value="강원특별자치도" th:selected="${member.memberArea == '강원특별자치도'}">강원특별자치도</option>
					    <option value="충청북도" th:selected="${member.memberArea == '충청북도'}">충청북도</option>
					    <option value="충청남도" th:selected="${member.memberArea == '충청남도'}">충청남도</option>
					    <option value="전북특별자치도" th:selected="${member.memberArea == '전북특별자치도'}">전북특별자치도</option>
					    <option value="전라남도" th:selected="${member.memberArea == '전라남도'}">전라남도</option>
					    <option value="경상북도" th:selected="${member.memberArea == '경상북도'}">경상북도</option>
					    <option value="경상남도" th:selected="${member.memberArea == '경상남도'}">경상남도</option>
					    <option value="제주특별자치도" th:selected="${member.memberArea == '제주특별자치도'}">제주특별자치도</option>
					</select>
		  		</li>
		  	    <li>
		  			<button type="submit" id="updatef">저장</button>
		  			<a th:href="@{/member/account}"><button type="button" id="updatef">취소</button></a>
		  		</li>
		  	 </ul>
	  	    </fieldset>
	  	  </form>
	  	</section>
	</div>
	</div>
</body>
<script>

const checkEmail = () => {
	//alert("test...");
	let inputEmail = document.getElementById("memberEmail").value;
	let checkResult = document.getElementById("check-result");
	//console.log("입력된 이메일: ", inputEmail);
	let header = $("meta[name='_csrf_header']").attr('content');
		let token = $("meta[name='_csrf']").attr('content');
	
	$.ajax({
		type: "POST",
		beforeSend: function(xhr){
	        xhr.setRequestHeader(header, token);
	    },
		url: "/member/check-email",
		data: { memberEmail: inputEmail },  //파라미터: memberEmail
		success: function(res){  //res - 결과 문자열이 반환됨
			console.log("성공: ", res);
			if(res == "OK"){
				checkResult.innerHTML = "사용가능한 이메일입니다.";
				checkResult.style.color = "green";
			}else{ //res == "NO"
				checkResult.innerHTML = "이미 가입된 이메일입니다.";
				checkResult.style.color = "#b00";
			}
		},
		error: function(err){
			console.log("실패: ", err);
		}
	});
};
/*
function checkUser(){
    
    let form = document.forms["users"];
    let id = form["memberId"].value;
    let pw1 = form["password"].value;
    let pw2 = form["password2"].value;
    let name = form["name"].value;
	
    // 정규 표현식
    let regexPw1 = /^(?=.*\d)(?=.*[a-zA-Z])(?=.*[~!@#$%^&*()_+|]).{8,}$/; // 숫자, 영문자, 특수문자 포함 8자 이상
    let regexName = /^[가-힣]+$/;  // 한글만
    
    if (id.length < 5) { // 아이디는 최소 5자리 이상
        alert("아이디는 5자 이상 입력해주세요.");
        return false;
    } else if (pw1.length < 8 || !regexPw1.test(pw1)) {
        alert("비밀번호는 영문자, 숫자, 특수문자를 모두 포함하여 8자 이상 입력해주세요.");
        return false;
    } else if (pw1 !== pw2) {
        alert("비밀번호가 일치하지 않습니다.");
        return false;
    } else if (name.length < 3) {
        alert("이름은 3글자이상 입력해주세요.");
        return false;
    } else {
        form.submit();  // 오류가 없으면 폼을 메인 컨트롤러로 전송
    }
}*/
</script>
</html>