<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>제보게시판</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{header}"></div>
	<div id="pi-title">
		<h3>참여와 신고</h3>	
	</div>
	<div class="semi_title">
		<h2>제보게시판 글 수정</h2>
	</div>
      <div id="content">
        <div class="board_content">
      		<div class="write_content">
		      <form th:action="@{/infoboard/update}" method="post" th:object="${board}" enctype="multipart/form-data">
		         <input type="hidden" name="id" th:value="${board.id}">
		         <input type="hidden" name="boardCategory" th:value="${board.boardCategory}">
		         <input type="hidden" name="boardHits" th:value="${board.boardHits}">
		         <input type="hidden" name="boardWriter" th:value="${board.boardWriter}">
		
		         <input type="text" name="boardTitle" class="form-control" th:value="${board.boardTitle}" required>
		         <div class="form-group">
				    <div class="custom-file">
				        <input type="file" accept="image/*" class="custom-file-input" id="file_upload" name="boardFile" onchange="displayFileName(this)">
				        <div class="file-label-container">
				            <label class="custom-file-label" for="file_upload">사진 선택</label>
				            <span class="file-name" id="file_name"></span> 
				        </div>
				    </div>
				</div>	  
		         <div class="form-group">
		                <textarea class="write-control" rows="15" name="boardContent" required style="resize: none;"
		                    th:text="${board.boardContent}"></textarea>
		            </div>
		         <div class="my-1">
		            <input class="board_btn" type="submit" value="수정" style="margin: 5px;">
		            <input class="board_btn" type="reset" value="초기화" style="margin: 5px;">
		            <a th:href="@{|/infoboard/${board.id}|}">
		                <input type="button" class="board_btn" value="뒤로" style="margin: 5px;">
		            </a>
		           </div>
		      </form>
		  </div>
      </div>
   </div>
   <div th:replace="~{footer}"></div>
<script>
function displayFileName(input) {
    var fileName = input.files[0].name;
    var output = document.getElementById('file_name');
    output.innerText = fileName;
}
</script>
</body>
</html>