<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>마이페이지</title>
</head>
<body>
	<div th:replace="~{header}"></div>
<div class="ch">
<div id="bigbig">
<h2>Account</h2>
	<div id="account">
      <div id="left">
        <div id="mimage">
			 <img th:src="@{|/upload/${member.filename}|}" alt="프로필사진">
        </div>
        <h6 th:text="${name} + ' 님'"></h6>
        <div class="mbutton" id="update"><a th:href="@{/member/update}">설정</a></div>
        <div class="mbutton" id="logout"><a th:href="@{/member/out}" onclick="return confirm('정말로 탈퇴하시겠습니까?')" class="mbutton_a">회원탈퇴</a></div>
      </div>
      <div class="line2"></div>
      <div id="right">

        <h5>내 추천글</h5>
        <div class="mcontent">
          <p th:each="vote : ${voteList}">
          	<a th:href="@{|/board/${vote.id}|}" th:text="${vote.boardTitle}"></a>
          </p>
          <p><a th:href="@{/board/votelist/}">+ more</a></p>
        </div>
		
		
        <h5>내 게시글</h5>
        <div class="mcontent">
          <p th:each="board : ${myBoardList}">
          	<a th:href="@{|/board/${board.id}|}" th:text="${board.boardTitle}"></a>
          </p>
          <p><a th:href="@{/board/myboardlist/}">+ more</a></p>
        </div>
        

        <h5>내 댓글</h5>
        <div class="mcontent">
          <p th:each="reply : ${myReplyList}">
          	<a th:href="@{|/board/${reply.BoardId}|}" th:text="${reply.rcontent}"></a>
          </p>
          <p><a th:href="@{/board/myreplylist/}">+ more</a></p>
        </div>
		
      </div>
    </div>
    </div>
</div>
	<div th:replace="~{footer}"></div>
</body>
</html>