@charset "UTF-8";
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

/* 공통스타일 */
* {margin: 0; padding: 0;  font-family: 'NanumSquareRound';}

html, body{color: #353535; background: #e9e9e9;}
ul li{list-style: none;}
a {text-decoration: none; color: #353535; font-weight:900;}
a:hover{text-decoration: none; color: #004aad; font-weight:900;}


/* =============================================
                     header 
================================================ */
#planB-header{width:100%; max-width:1024px; margin:0 auto; background: #e9e9e9; z-index: 99;
/* 	콘텐츠 1024px 틀 - 마지막에 지울예정 */
/* 	border:1px solid black; */
}
/* header - 로그인, 회원가입, 마이페이지 */
.planB-sidemenu{
	width:100%; 
	display:flex; 
	justify-content: flex-end;
}
.planB-sidemenu a{padding: 15px 20px; font-size:18px;}

/* header - 로고 */
.planB-menuWrap{
	width:100%; 
	display:flex; 
	margin-bottom:10px;
	}
.main-img-logo{
	width:290px; 
	display:flex; 
	align-items: center;
	}
.main-img-logo h2{padding:10px 0 0 10px; font-weight:900;}
.main-img-logo h2:hover{color: #353535;}

/* header - 메인 메뉴 + 챗봇 */
nav {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

/* common */
nav ul {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}
nav ul::after {
	display: block;
	clear: both;
	content: '';
}
nav ul li {
	position: relative;
	float: left;
	border: none;
}
nav ul li:not(:first-child) {border-left: none;}
nav ul li:hover {background-color: rgba(255,255,255,.8);}
nav ul li a {
	display: inline-block;
	padding: 1em 2.5em;
	color: #353535;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-size:19px;
}
nav ul ul {
	position: absolute;
	top: 100%;
	left: 0px;
}
nav ul ul li {
	float: none;
	margin: 0;
	border: none;
}
nav ul ul li:not(:first-child) {
	border: none;
	border-top: none;
}
nav ul ul ul {
	position: absolute;
	top: 0px;
	left: 100%;
/* 	 border-top-right-radius:30px;  */
}

.nav03 ul ul {
	visibility: hidden;
    opacity: 0;
  	background-color: #fff;/* 흰색 배경으로 설정 */
    transition: .2s ease-in-out, background-color 0s;
    transform: translateY(-20px);
    border-bottom: 3px solid #004aad; 
    z-index: 11;
/*     border-bottom-left-radius:30px; */
/*     border-bottom-right-radius:30px; */
}

/* 메인 메뉴 항목 호버 시 */
/* .nav03 ul li:hover { */
/*     border-top-left-radius:30px;  */
/*     border-top-right-radius:30px;  */
/*     background-color: rgba(255, 255, 255, 0.5); 투명도 조정 */
/* } */

.nav03 ul li:hover > ul {
	visibility: visible;
    opacity: 1;
    background-color: #fff; /* 흰색 배경 유지 */
    transform: translateY(0);
}
/* 서브메뉴 호버 시에도 흰색 배경 유지 */
.nav03 ul ul li:hover > ul {
    background-color: #fff; /* 흰색 배경 유지 */
}
.menu-bot-img a {
    display: inline-block;
    color: #353535; /* FAQ안내봇 텍스트 색상 */
    text-decoration: none;
    font-size: 18px;
}
.menu-container {
    display: flex;
    justify-content: space-between; /* 메뉴 항목들과 FAQ 안내봇 사이의 공간을 균등하게 분배 */
    align-items: center; /* 세로 축 중앙 정렬 */
    width: 100%; /* 컨테이너 너비를 최대로 설정 */
}
.menu-bot-img i{padding-left: 40px;}
.menu-bot-img a:hover{color:#004aad;}
.menu-bot-img span{font-size:15px;}

/*===============================================
 					footer 
 			bg : #353535 / font : #f3eeea
=================================================*/
#planB-footer{
	width:100%; 
	max-width:1024px; 
	margin:0 auto; 
	background: #353535;
	/* 콘텐츠 1024px 틀 - 마지막에 지울예정 */
/* 	border:1px solid black; */
}
#planB-footer a{color:#f3eeea;}
#planB-footer a:hover{color:#fc80ac;}
#planB-footer p{color:#f3eeea;}

footer{background: #353535;}
.footer-wrap{display:flex; justify-content: space-between;}

/* footer - 공지사항, 자주묻는질문, 개인정보처리방침 */
.footer-wrap-pages{display:flex; width:400px; padding:20px 0 10px 0; }
.footer-wrap-pages a{padding-right:30px;}
/* footer -  ADMIN */
.footer-wrap-admin{display:flex; padding-top: 20px;}

/* footer - 학원 주소 및 copyright(저작권) */
.footer-loca-copy{display:flex; justify-content: space-between; padding: 10px 0 20px 0;}

/*====================================================
				index (main)
=======================================================*/
/*
	main - body1 기상특보 한 줄 알림 
*/

#weather-caution1{
	width:100%; 
	height:46px; 
	margin-top:20px; 
	margin-bottom:30px;
	background:#05347E;
	overflow: hidden; /* 추가: 슬라이드 이동 시 넘치는 부분 숨김 */
	}
.slider_wrap{
	max-width: 1024px;
	width:100%;
    margin: 0 auto;
	height:46px;
	overflow: hidden; 
	
}
/* 텍스트가 보이는 영역 */
.slider_text { 
    width: 100%;
    height: 46px;
}
/* 텍스트가 움직이는 영역 */
.slider_inner{
	position:relative;
	width:100%;
	}

/* 각 텍스트들.. */
.slider { 
    width: auto; /* 너비를 자동으로 설정하여 텍스트 내용에 맞게 조정 */
    height: 46px; /* `#weather-caution1`의 높이에 맞게 조정 */
    display:flex;
    align-items:center;
} 
.slider p{
	color:#f3eeea; 
	font-weight:700;
	white-space: nowrap; /* 텍스트를 한 줄로.. */
    overflow: hidden; /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트의 끝을 ...으로 표시  */
}
.slider p:hover{
	white-space: normal; /* 텍스트를 여러 줄로 만들어 전부 보여줌 */
    overflow: visible; /* 숨겨진 내용을 보여줌 */
    text-overflow: clip; /* ... 제거 */
    height: auto; /* 내용에 맞게 높이 조정 */
	
}
.slider span{color:#00F2FF;}

/* 
	main - body2 날씨정보, 실시간 제보 게시판 
*/
#weather-realTimeReport{
	width:100%; 
	height:auto;
	margin:0 auto;
	margin-bottom: 30px; 
	max-width:1024px;
	display:flex;
	justify-content: space-between;
}
/* 날씨 정보 */
.weaterInfo-airPollution{
	width:49%;
	height: 270px;
	background: #ffffff;
	border: 1px solid #B0B0B0;
}
/* 날씨정보 콘텐츠 박스 */
.weather-contentWrap{
	display:flex; 
	width:100%; 
	margin-top: 5px;
	}
	
/* 날씨정보 - 현재기온, 최저기온, 최고기온 */
.today-weather-wrap{
	width: 50%;
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    
}
.today-weather-wrap .today-title{
	font-size:22px;
	font-weight:900;
}
/* 현재 기온*/
.now-temperatures{
	display:flex;
	align-items: center;
	margin-right: 30px;
}
.weather-icons{
	width:110px;
}
.SeoulNowtemp{
	font-weight:900;
	font-size:35px;
}
/* 최고 기온 */
.high-temperatures{
	display:flex;
	width: 60%;
    justify-content: space-around;
    margin-bottom: 20px;
}
.row-high-temp{
	font-size:20px;
	color: #9496A3;
	font-weight:700;
}
.SeoulHightemp{
	color: #ff2424;
	font-weight:900;
	font-size:20px;
}

/* 최저 기온 */
.row-temperatures{
	display:flex;
	width: 60%;
    justify-content: space-around;
}
.SeoulLowtemp{
	color:#0094ff;
	font-weight:900;
	font-size:20px;
}


/* 날씨정보 - 미세먼지 농도 */
.content-fineDust{
	width:50%; 
/* 	height:10vw;  */
	margin-top:10px;
	border-left: 1px solid #B0B0B0;
	}
/* 미세먼지 */
.particulateMatter{
	display:flex; 
	justify-content: center; 
	align-items: center;
	margin: 10px 0 15px 0;
	}
.particulateMatter dd{ color:#00C73C}
.particulateMatter dd:nth-of-type(2) {padding-top:16px;}
 /* 초미세먼지 */
.fine-particulateMatter{
	display:flex; 
	justify-content: center;
	align-items: center;
	}
.fine-particulateMatter dd{color:#FDA60E;}
.fine-particulateMatter dd:nth-of-type(2) {padding-top:16px;}

/* 실시간 제보 게시판 */
.realTimeReport-wrap{
	width:49%;
	height: 270px;
	background: #ffffff;
	border: 1px solid #B0B0B0;
	}
.report-text{
	width: 86%;
    margin: 0 auto;
    text-align:center;
}
.report-title{
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 20px 20px 20px;
}
.report-title p{font-size:20px; font-weight:900; margin:0 auto;}
.icon-wrap{padding-right:10px;}
.icon-wrap i:hover{color:#0094FF;}

/*
	main - Body3 : 긴급재난문자 , btn3(비상연락망, 재난유관기관, 기상특보)
*/
/* 긴급재난문자 */
#emergency-circleBtn3-bg{ /* body3 컨테이너 틀  */
	width:100%; 
	height: 270px;
	background:#DBE9F5;
	}
.emergency-circleBtn3-wrap{ /* body3 콘텐츠 wrap */
	max-width: 1024px;
    display: flex;
    justify-content: center; 
    margin: 0 auto; 
    align-items: center; 
    height: 100%; /* align-items를 정확히 작동시키기 위해 */
} 
/* 긴급 재난문자 api 부분 */
.emergency-pinkBox{
	width:40%;
	height:200px;
	border: 5px solid #FC80AC;
	background:#ffffff;
}
.e-title{
	font-size: 18px;
    font-weight: 900;
    margin:12px 0 0 15px;
    }
.emergency-text{ margin:0 10px 5px 10px;} 
 
.ds-trclass{
	display: flex;
    flex-direction: column;
    }
 .table tbody td{padding:3px 3px 3px 3px;}
 .ds-location-name{
 	margin-top:6px;
 	font-size:15px;
 	font-weight:900;
 	color: #05347e;
    overflow: hidden; /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트의 끝을 ...으로 표시  */
/*  	white-space: nowrap; 텍스트를 한 줄로.. */
 }
 .ds-item-msg{
 	font-size:13px;
 }
.ds-item-msg strong{
	font-size:12px;
	color: #b0b0b0;
}
 /* btn3 - 비상연락망, 재난유관기관, 기상특보 */   
 .useful-three-btn{ display:flex; width:60%; justify-content: flex-end; }
 .useful-btn{
 	width:180px;
 	height:180px;
 	background:#FFFFFF;
 	border-radius: 100px;
 	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* box-shadow(그림자) : 'X'px 'Y'px 'blur강도'px 'spread범위'px rgba(0,0,0,투명도) */
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 26px;
 }  
 .useful-btn img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
 .useful-btn p{
    font-size: 17px; 
    font-weight:900;
    margin: 0; 
}   
.useful-btn a:hover{color:#0094FF;}
/*
	main - Body 4 : 지진 발생 시 행동요령 (재난발생 시 행동요령)
*/
#actionTips-disaster{
	width:100%; 
	height: 270px;
	background:#4761A1;
}
.actionTips-earthQuake{
	max-width:1024px; 
	width:100%;
    height: 100%; /* align-items를 정확히 작동시키기 위해 */
    margin: 0 auto; 
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

.earthQuake-behavior{
	width:100%; 
	display:flex;
	justify-content: space-between;
	margin-bottom: 15px;
	}
.earthQuake-behavior p{
	font-size:20px;
	font-weight:900;
	color:#f3eeea;
}
.earthQuake-behavior a{
	margin-top:10px;
	font-size:15px;
	color:#f3eeea;
}
.earthQuake-behavior a:hover{
	color:#FC80AC;
}
/* 행동요령 img box */
.specific-behavior{
	width:100%;
	border: 2px solid #B0B0B0;
}
.specific-behavior img {
    width: 100%; /* 컨테이너의 너비에 맞춰 이미지 크기 조절 */
    height: 100%; /* 컨테이너의 높이에 맞춰 이미지 크기 조절 */
    object-fit: cover; /* 이미지의 비율을 유지하면서 컨테이너를 채움 */
    display: block; /* 이미지 아래의 여백 제거 */
}

/*====================================================================
			재난 유관 기관 - public-institution.html
=====================================================================*/
#pi-title{
	width:100%;
	height:91px;
	background:#05347E;
	display:flex;
	justify-content: center;
    align-items: center;
}
#pi-title h3{
	color: #f3eeea;
	font-weight:700;
	font-size:30px;
}
#pi-container{
	max-width:1024px;
	width:100%;
	margin: 0 auto;
	display:flex;
	flex-direction: column;
}
.pi-wrap{
	line-height: 1.5;
    white-space: normal;
    margin-bottom: 40px;
}
.pi-wrap h4{
	font-size:20px;
	font-weight:900;
	padding: 30px 0 10px 0;
}
.pi-img-btn{
	padding: 0 2px;
/* 	display:flex; */
/* 	flex-wrap: wrap; */
/* 	justify-content: center; */
}
.pi-img-btn li{
	float: left;
    position: relative;
	width:256px;
	height:85px;
	border: 1px solid #b0b0b0;
	background: #ffffff;
	margin: -1px 0 0 -1px;
    box-sizing: border-box;
    z-index:11;
}
.pi-img-btn div{
    white-space: normal;
    text-align: center;
    margin-top: 25px;
    }

.pi-img-btn li:hover{
	z-index:20;
	border: 1.5px solid #004aad;
}
.pi-btn1{
	display:flex;
	flex-direction: column;
    align-items: center;
}
.pi-btn1 strong{
	font-size: 13px;
	font-family:'NanumSquareRound';
	color: #777777;
    width: 100%;
    text-align: center;
    background: #f7f7f7;
    padding-top: 3px;
    margin-top: 5px;
}
/*=====================================================================
				자주묻는질문 faq / 개인정보 처리방침
====================================================================*/
  #question_container{
  	max-width:1024px;
	width:100%;
	margin: 0 auto;
	display:flex;
	flex-direction: column;
	margin-bottom: 60px;
  }
  .faq-wrap{
      margin-top: 40px;
      margin-left: 18%;
  }
  .pp-wrap {
  	width: 70%;
    height: 105px;
    background: #ffffff;
    border: 1px solid #b0b0b0;
    margin-top: 40px;
    margin-left: 12%;
    padding: 30px 30px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
  }
  
  
  .faq-sections label{
  	  font-size:20px;
  	  font-weight:700;
      text-decoration: none;
      display: inline-block;
      width: 80%;
      border-bottom: 1px solid #353535;
      padding-bottom:5px;
      color: #353535;
      margin-top:25px;
  }
  .pp-sections label{
  	  font-size:20px;
  	  font-weight:700;
      text-decoration: none;
      display: inline-block;
      width: 80%;
/*       border-bottom: 1px solid #353535; */
      padding-bottom:5px;
      color: #353535;
      margin-top:25px;
  }
  .menubars { 
    display: none; 
    color: #353535;
    background-color: rgba(255, 255, 255, 0.7);
    width:77.5%;
    padding: 10px;
    margin-bottom:20px;
  }
  label:hover{
  	color:#004aad;
  	cursor:pointer;
  }
  
  /* 체크되면 메뉴를 표시하기 */
  #check-btn1:checked ~ .menubars,
  #check-btn2:checked ~ .menubars,
  #check-btn3:checked ~ .menubars,
  #check-btn4:checked ~ .menubars,
  #check-btn5:checked ~ .menubars,
  #check-btn6:checked ~ .menubars,
  #check-btn7:checked ~ .menubars,
  #check-btn8:checked ~ .menubars,
  #check-btn9:checked ~ .menubars { 
    display: block; 
   border-top: 1px solid #353535;
    
  }
  
  /* 체크박스는 화면에서 감추기 */
  #check-btn1, #check-btn2, #check-btn3, 
  #check-btn4, #check-btn5, #check-btn6, 
  #check-btn7, #check-btn8, #check-btn9
   { 
    display: none; 
  }
  
  
  