@charset "UTF-8";
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-straight/css/uicons-regular-straight.css');

/* 공통 */

*{margin: 0; padding: 0; font-family: 'NanumSquareRound';}

html, body{height:auto; min-height:100%; width:100%; color: #353535; background: #e9e9e9;}

a{text-decoration: none; color:#353535; font-weight:900;}
a:hover{text-decoration: none; color: #004aad; font-weight:900;}
ul li{list-style: none;}

#pi-title{
	width:100%;
	height:91px;
	background:#05347E;
	display:flex;
	justify-content: center;
    align-items: center;
}
#pi-title h3{
	color: #f3eeea;
	font-weight:700;
	font-size:30px;
}


/* =============================================
                     header 
================================================ */
#planB-header{width:100%; max-width:1024px; margin:0 auto; background: #e9e9e9; z-index: 99;
/* 	콘텐츠 1024px 틀 - 마지막에 지울예정 */
/* 	border:1px solid black; */
}
/* header - 로그인, 회원가입, 마이페이지 */
.planB-sidemenu{
	width:100%; 
	display:flex; 
	justify-content: flex-end;
}
.planB-sidemenu a{padding: 15px 20px; font-size:18px;}

/* header - 로고 */
.planB-menuWrap{
	width:100%; 
	display:flex; 
	margin-bottom:10px;
	}
.main-img-logo{
	width:290px; 
	display:flex; 
	align-items: center;
	}
.main-img-logo h2{padding:10px 0 0 10px; font-weight:900;}
.main-img-logo h2:hover{color: #353535;}

/* header - 메인 메뉴 + 챗봇 */
nav {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

/* common */
nav ul {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}
nav ul::after {
	display: block;
	clear: both;
	content: '';
}
nav ul li {
	position: relative;
	float: left;
	border: none;
}
nav ul li:not(:first-child) {border-left: none;}
nav ul li:hover {background-color: rgba(255,255,255,.8);}
nav ul li a {
	display: inline-block;
	padding: 1em 2.5em;
	color: #353535;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-size:19px;
}
nav ul ul {
	position: absolute;
	top: 100%;
	left: 0px;
}
nav ul ul li {
	float: none;
	margin: 0;
	border: none;
}
nav ul ul li:not(:first-child) {
	border: none;
	border-top: none;
}
nav ul ul ul {
	position: absolute;
	top: 0px;
	left: 100%;
/* 	 border-top-right-radius:30px;  */
}

.nav03 ul ul {
	visibility: hidden;
    opacity: 0;
  	background-color: #fff;/* 흰색 배경으로 설정 */
    transition: .2s ease-in-out, background-color 0s;
    transform: translateY(-20px);
    border-bottom: 3px solid #004aad; 
/*     border-bottom-left-radius:30px; */
/*     border-bottom-right-radius:30px; */
}

/* 메인 메뉴 항목 호버 시 */
/* .nav03 ul li:hover { */
/*     border-top-left-radius:30px;  */
/*     border-top-right-radius:30px;  */
/*     background-color: rgba(255, 255, 255, 0.5); 투명도 조정 */
/* } */

.nav03 ul li:hover > ul {
	visibility: visible;
    opacity: 1;
    background-color: #fff; /* 흰색 배경 유지 */
    transform: translateY(0);
}
/* 서브메뉴 호버 시에도 흰색 배경 유지 */
.nav03 ul ul li:hover > ul {
    background-color: #fff; /* 흰색 배경 유지 */
}
.menu-bot-img a {
    display: inline-block;
    color: #353535; /* FAQ안내봇 텍스트 색상 */
    text-decoration: none;
    font-size: 18px;
}
.menu-container {
    display: flex;
    justify-content: space-between; /* 메뉴 항목들과 FAQ 안내봇 사이의 공간을 균등하게 분배 */
    align-items: center; /* 세로 축 중앙 정렬 */
    width: 100%; /* 컨테이너 너비를 최대로 설정 */
}
.menu-bot-img i{padding-left: 40px;}
.menu-bot-img a:hover{color:#004aad;}
.menu-bot-img span{font-size:15px;}

/*===============================================
 					footer 
 			bg : #353535 / font : #f3eeea
=================================================*/
#planB-footer{
	width:100%; 
	max-width:1024px; 
	margin:0 auto; 
	background: #353535;
	/* 콘텐츠 1024px 틀 - 마지막에 지울예정 */
/* 	border:1px solid black; */
}
#planB-footer a{color:#f3eeea;}
#planB-footer a:hover{color:#fc80ac;}
#planB-footer p{color:#f3eeea;}

footer{background: #353535;}
.footer-wrap{display:flex; justify-content: space-between;}

/* footer - 공지사항, 자주묻는질문, 개인정보처리방침 */
.footer-wrap-pages{display:flex; width:400px; padding:20px 0 10px 0; }
.footer-wrap-pages a{padding-right:30px;}
/* footer -  ADMIN */
.footer-wrap-admin{display:flex; padding-top: 20px;}

/* footer - 학원 주소 및 copyright(저작권) */
.footer-loca-copy{display:flex; justify-content: space-between; padding: 10px 0 20px 0;}

/*====================================================
				index (main)
=======================================================*/
/*
	main - body1 기상특보 한 줄 알림 
*/

#weather-caution1{
	width:100%; 
	height:46px; 
	margin-top:20px; 
	margin-bottom:30px;
	background:#05347E;
	overflow: hidden; /* 추가: 슬라이드 이동 시 넘치는 부분 숨김 */
	}
.slider_wrap{
	max-width: 1024px;
	width:100%;
    margin: 0 auto;
	height:46px;
	overflow: hidden; 
	
}
/* 텍스트가 보이는 영역 */
.slider_text { 
    width: 100%;
    height: 46px;
}
/* 텍스트가 움직이는 영역 */
.slider_inner{
	position:relative;
	width:100%;
	}

/* 각 텍스트들.. */
.slider { 
    width: auto; /* 너비를 자동으로 설정하여 텍스트 내용에 맞게 조정 */
    height: 46px; /* `#weather-caution1`의 높이에 맞게 조정 */
    display:flex;
    align-items:center;
} 
.slider p{
	color:#f3eeea; 
	font-weight:700;
	white-space: nowrap; /* 텍스트를 한 줄로.. */
    overflow: hidden; /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트의 끝을 ...으로 표시  */
}
.slider p:hover{
	white-space: normal; /* 텍스트를 여러 줄로 만들어 전부 보여줌 */
    overflow: visible; /* 숨겨진 내용을 보여줌 */
    text-overflow: clip; /* ... 제거 */
    height: auto; /* 내용에 맞게 높이 조정 */
	
}
.slider span{color:#00F2FF;}

/* 
	main - body2 날씨정보, 실시간 제보 게시판 
*/
#weather-realTimeReport{
	width:100%; 
	height:auto;
	margin:0 auto;
	margin-bottom: 30px; 
	max-width:1024px;
	display:flex;
	justify-content: space-between;
}
/* 날씨 정보 */
.weaterInfo-airPollution{
	width:49%;
	height: 270px;
	background: #ffffff;
	border: 1px solid #B0B0B0;
}
/* 날씨정보 - 내 위치, 발표 기준 시간 */
.myLocation-time{
	display:flex; 
	align-items: center;
	justify-content: space-between;
	padding: 25px 20px 20px 20px
	}
.myLocation-time p{font-size:15px;}
#referenceTime{font-size:13px; color:#9496A3; }

/* 날씨정보 - 날씨정보와 미세먼지 타이틀 */
.weather-title{
	display:flex; 
	justify-content: space-around;
	margin-top: 15px;
	}
.weather-title p{font-size:20px; font-weight:900;}

/* 날씨정보 콘텐츠 박스 */
.weather-contentWrap{
	display:flex; 
	width:100%; 
	margin-top: 5px;
	}
/* 날씨정보 - 하늘상태, 기온, 체감온도, 습도 */
.content-temperature{
	width:50%; 
	margin-top:10px;
	padding-top:10px;
}
.icon-temp{ 
	font-weight:900; 
	font-size:50px; 
	text-align:center;
	margin-bottom:20px;
	}

.windchill-humidity{display:flex; justify-content: space-evenly;}
.windchill-humidity p{color:#9496A3; font-weight:700;}

/* 날씨정보 - 미세먼지 농도 */
.content-fineDust{
	width:50%; 
/* 	height:10vw;  */
	margin-top:10px;
	border-left: 1px solid #B0B0B0;
	}
/* 미세먼지 */
.particulateMatter{
	display:flex; 
	justify-content: center; 
	align-items: center;
	margin: 10px 0 15px 0;
	}
.particulateMatter dd{ color:#00C73C}
.particulateMatter dd:nth-of-type(2) {padding-top:16px;}
 /* 초미세먼지 */
.fine-particulateMatter{
	display:flex; 
	justify-content: center;
	align-items: center;
	}
.fine-particulateMatter dd{color:#FDA60E;}
.fine-particulateMatter dd:nth-of-type(2) {padding-top:16px;}

/* 실시간 제보 게시판 */
.realTimeReport-wrap{
	width:49%;
	height: 270px;
	background: #ffffff;
	border: 1px solid #B0B0B0;
	}
.report-text{
	width: 86%;
    margin: 0 auto;
    text-align:center;
}
.report-title{
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 20px 20px 20px;
}
.report-title p{font-size:20px; font-weight:900; margin:0 auto;}
.icon-wrap{padding-right:10px;}
.icon-wrap i:hover{color:#0094FF;}

/*
	main - Body3 : 긴급재난문자 , btn3(비상연락망, 재난유관기관, 기상특보)
*/
/* 긴급재난문자 */
#emergency-circleBtn3-bg{ /* body3 컨테이너 틀  */
	width:100%; 
	height: 270px;
	background:#DBE9F5;
	}
.emergency-circleBtn3-wrap{ /* body3 콘텐츠 wrap */
	max-width: 1024px;
    display: flex;
    justify-content: center; 
    margin: 0 auto; 
    align-items: center; 
    height: 100%; /* align-items를 정확히 작동시키기 위해 */
} 
/* 긴급 재난문자 api 부분 */
.emergency-pinkBox{
	width:40%;
	height:200px;
	border: 5px solid #FC80AC;
	background:#ffffff;
}
.e-title{
	font-size: 18px;
    font-weight: 900;
    margin:12px 0 0 15px;
    }
.emergency-text{ margin:0 10px 5px 10px;} 
 
.ds-trclass{
	display: flex;
    flex-direction: column;
    }
 .table tbody td{padding:3px 3px 3px 3px;}
 .ds-location-name{
 	margin-top:6px;
 	font-size:15px;
 	font-weight:900;
 	color: #05347e;
    overflow: hidden; /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트의 끝을 ...으로 표시  */
/*  	white-space: nowrap; 텍스트를 한 줄로.. */
 }
 .ds-item-msg{
 	font-size:13px;
 }
.ds-item-msg strong{
	font-size:12px;
	color: #b0b0b0;
}
 /* btn3 - 비상연락망, 재난유관기관, 기상특보 */   
 .useful-three-btn{ display:flex; width:60%; justify-content: flex-end; }
 .useful-btn{
 	width:180px;
 	height:180px;
 	background:#FFFFFF;
 	border-radius: 100px;
 	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* box-shadow(그림자) : 'X'px 'Y'px 'blur강도'px 'spread범위'px rgba(0,0,0,투명도) */
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 26px;
 }  
 .useful-btn img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
 .useful-btn p{
    font-size: 17px; 
    font-weight:900;
    margin: 0; 
}   
.useful-btn a:hover{color:#0094FF;}
/*
	main - Body 4 : 지진 발생 시 행동요령 (재난발생 시 행동요령)
*/
#actionTips-disaster{
	width:100%; 
	height: 270px;
	background:#4761A1;
}
.actionTips-earthQuake{
	max-width:1024px; 
	width:100%;
    height: 100%; /* align-items를 정확히 작동시키기 위해 */
    margin: 0 auto; 
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

.earthQuake-behavior{
	width:100%; 
	display:flex;
	justify-content: space-between;
	margin-bottom: 15px;
	}
.earthQuake-behavior p{
	font-size:20px;
	font-weight:900;
	color:#f3eeea;
}
.earthQuake-behavior a{
	margin-top:10px;
	font-size:15px;
	color:#f3eeea;
}
.earthQuake-behavior a:hover{
	color:#FC80AC;
}
/* 행동요령 img box */
.specific-behavior{
	width:100%;
	border: 2px solid #B0B0B0;
}
.specific-behavior img {
    width: 100%; /* 컨테이너의 너비에 맞춰 이미지 크기 조절 */
    height: 100%; /* 컨테이너의 높이에 맞춰 이미지 크기 조절 */
    object-fit: cover; /* 이미지의 비율을 유지하면서 컨테이너를 채움 */
    display: block; /* 이미지 아래의 여백 제거 */
}

/*====================================================================
			재난 유관 기관 - public-institution.html
=====================================================================*/
#pi-title{
	width:100%;
	height:91px;
	background:#05347E;
	display:flex;
	justify-content: center;
    align-items: center;
}
#pi-title h3{
	color: #f3eeea;
	font-weight:700;
	font-size:30px;
}
#pi-container{
	max-width:1024px;
	width:100%;
	margin: 0 auto;
	display:flex;
	flex-direction: column;
}
.pi-wrap{
	line-height: 1.5;
    white-space: normal;
    margin-bottom: 40px;
}
.pi-wrap h4{
	font-size:20px;
	font-weight:900;
	padding: 30px 0 10px 0;
}
.pi-img-btn{
	padding: 0 2px;
/* 	display:flex; */
/* 	flex-wrap: wrap; */
/* 	justify-content: center; */
}
.pi-img-btn li{
	float: left;
    position: relative;
	width:256px;
	height:85px;
	border: 1px solid #b0b0b0;
	background: #ffffff;
	margin: -1px 0 0 -1px;
    box-sizing: border-box;
    z-index:1;
}
.pi-img-btn div{
    white-space: normal;
    text-align: center;
    margin-top: 25px;
    }

.pi-img-btn li:hover{
	z-index:2;
	border: 1.5px solid #004aad;
}
.pi-btn1{
	display:flex;
	flex-direction: column;
    align-items: center;
}
.pi-btn1 strong{
	font-size: 13px;
	font-family:'NanumSquareRound';
	color: #777777;
    width: 100%;
    text-align: center;
    background: #f7f7f7;
    padding-top: 3px;
    margin-top: 5px;
}
/*=====================================================================
				자주묻는질문 faq / 개인정보 처리방침
====================================================================*/
  #question_container{
  	max-width:1024px;
	width:100%;
	margin: 0 auto;
	display:flex;
	flex-direction: column;
	margin-bottom: 60px;
  }
  .faq-wrap{
      margin-top: 40px;
      margin-left: 18%;
  }
  .pp-wrap {
  	width: 70%;
    height: 105px;
    background: #ffffff;
    border: 1px solid #b0b0b0;
    margin-top: 40px;
    margin-left: 12%;
    padding: 30px 30px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
  }
  
  
  .faq-sections label{
  	  font-size:20px;
  	  font-weight:700;
      text-decoration: none;
      display: inline-block;
      width: 80%;
      border-bottom: 1px solid #353535;
      padding-bottom:5px;
      color: #353535;
      margin-top:25px;
  }
  .pp-sections label{
  	  font-size:20px;
  	  font-weight:700;
      text-decoration: none;
      display: inline-block;
      width: 80%;
/*       border-bottom: 1px solid #353535; */
      padding-bottom:5px;
      color: #353535;
      margin-top:25px;
  }
  .menubars { 
    display: none; 
    color: #353535;
    background-color: rgba(255, 255, 255, 0.7);
    width:77.5%;
    padding: 10px;
    margin-bottom:20px;
  }
  label:hover{
  	color:#004aad;
  	cursor:pointer;
  }
  
  /* 체크되면 메뉴를 표시하기 */
  #check-btn1:checked ~ .menubars,
  #check-btn2:checked ~ .menubars,
  #check-btn3:checked ~ .menubars,
  #check-btn4:checked ~ .menubars,
  #check-btn5:checked ~ .menubars,
  #check-btn6:checked ~ .menubars,
  #check-btn7:checked ~ .menubars,
  #check-btn8:checked ~ .menubars,
  #check-btn9:checked ~ .menubars { 
    display: block; 
   border-top: 1px solid #353535;
    
  }
  
  /* 체크박스는 화면에서 감추기 */
  #check-btn1, #check-btn2, #check-btn3, 
  #check-btn4, #check-btn5, #check-btn6, 
  #check-btn7, #check-btn8, #check-btn9
   { 
    display: none; 
  }
  
  
  
	






/* chaehee */

.ch{
  width: 100%;
  padding: 20px;
  background-color: #E9E9E9;
  

  .container{width: 90%; padding: 30px; margin: 0 auto;}


/* login 스타일 */
  #login{
    margin: 40px auto;
    padding: 40px;
    width: 380px; 
    background-color: #f7f7f7;
    border: 1px solid rgb(0, 74 , 173);
    flex-direction: column;
  }
  #login h2{
    text-align: center;
    margin: 20px;
    color: rgb(0, 74 , 173);
  }
  #login fieldset{
    border: none;
  }
  
  #login li input{
  	border-style: none;
    margin: 15px auto;
    padding: 0 10px 0 10px;
    width: 100%;
    height: 40px;
    text-indent: 5px;
  }
  #login #username,
  #login #password,
  #login #loginbutton,
  #login #joinf{
    box-sizing: border-box;
    border: 1px solid #004aad;
  }
  #login #loginbutton,
  #login #joinf{
    font-weight: bold;
  }
  #login #loginbutton{
    background-color: #004aad;
    color: white;
  }
  #login #joinf{
    background-color: white;
    color: #004aad;
  }
  #login .error{color: #e00; margin-top: 16px; font-size: 0.9em}
  .line {
    display:flex;
    flex-basis:100%;
    align-items:center;
    color:rgba(0,0,0,0.35);
    font-size:14px;
    margin:10px 0px;
  }
  .line::before{
    content:"";
    flex-grow:1;
    margin:0px 16px;
    background:rgba(0,0,0,0.35);
    height:1px;
    font-size:0px;
  }
  .line::after {
    content:"";
    flex-grow:1;
    margin:0px 16px;
    background:rgba(0,0,0,0.35);
    height:1px;
    font-size:0px;
  }

  /* join 스타일 */
  #join{
    margin: 40px auto;
    padding: 40px;
    width: 400px; 
    background-color: #f7f7f7;
    border: 1px solid rgb(0, 74 , 173);
    flex-direction: column;
  }
  #join h2{
    text-align: center;
    margin: 10px 20px 50px 20px;
    color: rgb(0, 74 , 173);
  }
  #join fieldset{
    border: none;
  }
  #join label{
    display: inline-block;
    width: 120px;
    margin: 10px 0px 10px 20px;
  }
  #join input[type="text" i],
  #join input[type="password" i],
  #join input[type="date" i],
  #join select  {
  width: 220px;
  height: 20px;
  margin: 10px;
  }
    #join input[name="memberFile"]{
  width: 220px;
  height: 25px;
  margin: 0px 10px;
  }
  #join #joinf, #join #kakao, #join #naver, #join #google {
  	border-style: none;
    margin: 15px 10px;
    width: 380px;
    height: 40px;
    text-indent: 5px;
  }
  
  #join #joinf{
    background-color: #004aad;
    color: white;
    font-weight: bold;
  }
  
  #join .error{
  	color: #b00; 
  	padding-left: 20px; 
 }
  /* account 스타일 */
  #bigbig{
  width: 70%;
    margin: 50px auto;
    max-width: 1000px;
  }
  #bigbig h2{
  margin: 5px 10px;
  width: 100%;
  color: #004aad;
  }
  #account{
  width: 100%;
    display: flex;
    border: 1px solid #004aad;
    background-color: #f5f5f5;
    max-width: 1000px;
  }
  #left{
    width: 40%;
    height: 100%;
  }
  #left #mimage{
    width: 50%;
    aspect-ratio: 1 / 1;
    margin: 20px auto;
    background-color: #dadada;
    border-radius: 50%;
    margin-top: 25%;
    overflow: hidden;
  }
   #left #mimage img{
   display: block;
   width: 100%;
   }
  #left h6{
    padding-bottom: 50px;
    text-align: center;
    font-size: 15px;
  }
  #left .mbutton{
    margin: 10% auto;
    padding: 5%;
    width: 50%;
    border-radius: 30px;
    text-align: center;
  }
  #left .mbutton_a{
  	color: #fff;
  }
  #left #update{
    background-color: #dadada;
    font-size: 15px;
  }
  #left #logout{
    background-color: #004aad;
    font-size: 15px;
  }
  #right{
    margin: auto;
    padding: 30px;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #right h5{
    width: 100%;
    margin: 10px;
  }
  #right .mcontent{
    display: flex;
    flex-direction: column;
    margin: 5px 0 25px 0;
    padding: 5px 0;
    width: 100%;
    background-color: #ececec;
    border-top: 1px solid #004aad;
    border-bottom: 1px solid #004aad;
    align-items: center;
  }
  #right .mcontent p{
	padding: 8px 0px;
    width: 90%;
    border-bottom: 1px dashed white;
    text-align: center;
  }
  #right .mcontent p:last-child {
  border-bottom: none;
}
  .line2 {
    border-left: 1px dotted #004aad;
    width: 0;
  }
  
/* update 스타일 */
  #update{
    margin: 100px auto;
    padding: 40px;
    width: 400px; 
    background-color: #f7f7f7;
    border: 1px solid rgb(0, 74 , 173);
    flex-direction: column;
  }
  #update h2{
    text-align: center;
    margin: 10px 20px 40px 20px;
    color: rgb(0, 74 , 173);
  }
  #update fieldset{
    border: none;
  }
  #update label{
    display: inline-block;
    width: 120px;
    margin: 10px 0px 10px 20px;
  }
  #update input[type="text" i],
  #update input[type="password" i],
  #update input[type="date" i],
  #update select  {
  width: 220px;
  height: 25px;
  margin: 5px;
  text-indent: 8px;
  }
  #update #memberArea{
  	margin-bottom: 30px;
  }
  #update #updatef{
    border-style: none;
    margin: 15px 0 15px 55px;
    width: 300px;
    height: 40px;
    background-color: #004aad;
    color: white;
    font-weight: bold;
  }

  
    
    

}








/* yubin */


.main-main {
	width:1024px;
	
    background-color: #d9d9d9;
    margin: 0 auto;
}
/* 메뉴 */
#state_sub .stateWrap ul {
    text-align: center;
}
#state_sub .stateWrap ul li {
    display: inline-block;
    position: relative;
    margin: 0 24px;
    padding-bottom: 6px;
}
#state_sub .stateWrap ul li.active a strong {
    color: #fff;
    font-weight: 400;
}
#state_sub .stateWrap ul li a strong {
    display: block;
    font-size: 16px;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.5);
}

/*산불페이지 */
.leftArea{
	float: left;
	
}
.leftArea img{
	width: 400px;
	height: 600px;
	margin: 10px 0 0 10px;
}
.rightArea{
	display:inline-block;
	margin-left: 20px;
	
}
.rightArea h2{
	margin-top: 20px;
	
}

.todayArea ul li{
	list-style: none;
	float: left;
    width: 183px;
    height: 110px;
    padding: 24px 0 0;
    margin-right: 10px;
    text-align: center;
    line-height: 1em;
    background: #f1f1f1;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* 표 전체 스타일 */
.tableArea {
    width: 590px;
    height: 400px;
    margin-top:20px;
    overflow: auto; /* 내용이 넘칠 경우 스크롤 표시 */
}

/* 표 제목 스타일 */
.tableArea table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

/* 각 셀 스타일 */
.tableArea th, .tableArea td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

/* 각 열 스타일 */
.tableArea th {
    background-color: #f0f0f0;
}

/* 각 행 스타일 */
.tableArea tr:hover {
    background-color: #f5f5f5;
}
 .terms317 img {
 
    width: 900px; /* 너비를 원하는 크기로 지정 */
    height: auto; /* 높이는 자동으로 조절됩니다. */
     
  }
.terms317 p{
	margin-left: 55px;
}
  .terms318 img {
    width: 300px; /* 너비를 원하는 크기로 지정 */
    height: auto; /* 높이는 자동으로 조절됩니다. */
  }

  .terms319 img {
    width: 250px; /* 너비를 원하는 크기로 지정 */
    height: auto; /* 높이는 자동으로 조절됩니다. */
  }

  .terms320 img {
    width: 550px; /* 너비를 원하는 크기로 지정 */
    height: auto; /* 높이는 자동으로 조절됩니다. */
  }

  .terms321 img {
    width: 550px; /* 너비를 원하는 크기로 지정 */
    height: auto; /* 높이는 자동으로 조절됩니다. */
  }


  .tabSlideWrap {
    padding: 10px;
  }

  .swiper-container-horizontal {
    position: relative;
    display: flex;
    justify-content: space-around;
  }

  .swiper-wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .swiper-slide {
    margin-right: 20px;
  }

  .swiper-slide a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
  }

  .swiper-slide a:hover {
    background-color: #f0f0f0;
  }
 /* 산불끝 */
 

  


  










/* sanghyun */

#content{
	width: 1024px; 
	margin: 0px auto;
	height: 100%;
}


.main_board{
	height: 35vw;
}

#data_content{
	width: 100%;
	margin-top: 100px;
}

.news_section{
	margin: 50px 0px 0px 100px;
	width : 45%;
	border: 10px solid #fc80ac;
	display: block;
    float: left;
    padding: 10px;
    font-size:0.8rem;
}
.news_section p{
	margin: 5px;
}
.org_name{
	padding: 5px;
	font-size:1rem;
}
.board_section{
	display: block;
    float: left;
    margin: 50px 10px;
}


/* 게시판 */
.board_content{
	width: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	height: 100%;	
	border-radius: 30px;
	max-width: 1024px;
	margin: 40px auto;
	margin-bottom: 104px;
	padding: 20px 0px;
}

.semi_title h2{
	text-align: center;
	margin-top: 40px;
}

.vote_hit{
	display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 5px;
}

.tbl_list {
	margin: 0 auto;
	width: 95%; 
	text-align: center; 
	border-collapse: collapse;
}
.tbl_list thead tr{
	border-left: none;
	border-right: none;
	border-bottom: 2px solid black;
	height: 50px;
}

.tbl_list tbody tr{
	border-left: none;
	border-right: none;
	border-bottom: 1px solid black;
	height: 50px;
}

.tbl_list .reply_count{
	font-size: 0.8rem;
}

.td_title {width: 50%; text-overflow: ellipsis; white-space:nowrap;}

.board_btn {
   width: 90px;
   height: 35px;
   background-color: #ddd;
   border: 1px solid #004AAD;
   border-radius: 10px;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   font-weight: bold;
}

.board_btn:hover{
	background-image: linear-gradient(to bottom right, #002255, #004aad);
	color: #fff;
}


/* 페이지 버튼 */
.pagination_btn {
    display: flex;
    justify-content: center;
    align-items: center; /* 수직 가운데 정렬 추가 */
    font-size: 15px;
    line-height: normal;
}

.page-box {
    margin: 0 10px;
    font-weight: bold;
    display: inline-block;
}

.page-num-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0px auto;
}

.page-btn.disabled {
    pointer-events: none;
    cursor: default;
    color: #aaa;
}

.page-btn.active {
    display: inline-flex;
    align-items: center; /* 수직 가운데 정렬 추가 */
    justify-content: center;
    width: 30px;
    height: 30px;
    background-image: radial-gradient(ellipse, #0088FF, #004AAD);
    border-radius: 50%;
    color: #fff;
    text-align: center;
}

.page-btn.active .page-box {
    display: inline-block;
    color: #fff;
}

/* 게시판 검색창 */
.search_btn{
   width: 430px; 
   height: 35px;
   margin: 0px auto;  
   background-color: #ddd;
   border: 1px solid #004AAD;
   border-radius: 10px;
   padding-top: 10px;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.search_btn2{
   width: 350px; 
   height: 35px;
   margin: 0px auto;  
   background-color: #ddd;
   border: 1px solid #004AAD;
   border-radius: 10px;
   padding-top: 10px;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.toggle_btn{
   width: 80px; 
   height: 25px; 
   border: 1px solid #004AAD; 
   border-radius: 5px; 
   text-align: center;
   background-color: #fff;
   margin: 0px 10px;
}
.search_box{
   width: 230px; 
   height: 25px;
   border: 1px solid #004AAD;
   border-radius: 5px;
   padding: 0px 10px;
}
.board_btn1 {
   width: 50px; 
   height: 25px; 
   border: none; 
   border-radius: 0 5px 5px 0;
   border-left : 1px solid #000;
   background-color: rgba(0, 0, 0, 0);
   font-weight: semi-bold;
   cursor: pointer;
}
.board_btn2 {
   width: 50px; 
   height: 25px; 
   border: none;
   background-color: rgba(0, 0, 0, 0);
   font-weight: semi-bold;
   cursor: pointer;
}

/* 게시글 상세보기 */
.tbl_detail{
	width: 90%;
	margin: 0 auto;
}
.tbl_detail td, th{
	border-left: none;
	border-right: none;
}
.tbl_head{
	border-bottom: 2px solid #000; 
	display: flex; 
	justify-content: space-between; 
	align-items: center;
}

/* 댓글 */
.replyform{
	width: 90%;
	margin: 0 auto;
}
.replyWrite{
	margin-top:10px;
	border-color:#ccc;
}
#rcontent{
	width:100%;
}
.reply_reply{
	margin-top: 10px;
}

/* 글쓰기 */
.write_content{
	width: 95%;
	margin: 0 auto;
	padding: 5px;
}
.replyUpdateForm{
	width: 95%;
	margin: 0 auto;
	padding: 5px;
}
.custom-file-input {
    display: none; /* 숨김 */
}

.custom-file-label {
    width: 90px;
    height: 35px;
    background-color: #ddd;
    border: 1px solid #004AAD;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    float: left;
    margin: 10px 5px;
}

.custom-file-label:hover{
	background-image: linear-gradient(to bottom right, #002255, #004aad);
	color: #fff;
}

.file-name{
	line-height: 57px;
}

.form-control{
	margin: 10px 0;
	border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    width: 100%;
    height: 30px;
}
.write-control{
	margin: 10px 0;
	border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.form-select {
  height: 30px;
  margin: 10px 0;
  width: 100.2%;
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
}
@media (prefers-reduced-motion: reduce) {
  .form-select {
    transition: none;
  }
}
/* 채팅방 */

@media (max-width: 1024px) {
  #content {
    width:100vw;
  }
  .tbl_list{
  font-size: 1.5vw
  }
  .tbl_list .reply_count{
  font-size: 1vw
  }
  .search_btn{
  	width: 425px;
  }
  .tbl_list thead tr{
	height: 3vw;
  }
  .tbl_list tbody tr{
	height: 3vw;
  }
}



@media (max-width: 425px) {
  #content {
    width:355px;
  }
  .tbl_list{
  font-size: 10px;
  }
  .search_btn{
  	width:355px;
  }
}



