@charset "UTF-8";

*{margin: 0; padding: 0;}

body{
	background: #e9e9e9;
}

#content{
	width: 1024px; 
	margin: 0px auto;
	height: auto;
  	min-height: 100%;
  	padding-bottom: 40px;
  	margin-top: 100px;
}
h2{color: #000; text-align: center;}
.main-pic{text-align: center;}
.menu{text-align: center;}
a{text-decoration: none; color:#000;}
ul li{list-style: none;}
.wrap{margin: 50px;}

/* chaehee */

.ch{
  width: 100%;
  padding: 20px;
  background-color: #eee;
  @media screen and (min-width: 1200px) {width: 1024px; margin: 0 auto;}

  .container{width: 90%; padding: 30px; margin: 0 auto;}
  
/* login 스타일 */
  #login{
    margin: 100px auto;
    padding: 5vw;
    width: 60%; 
    background-color: #F8F8F8;
    border: 1px solid rgb(0, 74 , 173);
    flex-direction: column;
  }
  #login h2{
    text-align: center;
    margin: 20px;
    color: rgb(0, 74 , 173);
  }
  #login fieldset{
    border: none;
  }
  #login li{align-items: center;}
  #login li input{
  	border-style: none;
    margin: 20px auto;
    padding: 0 10px 0 10px;
    width: 100%;
    height: 30px;
    text-indent: 5px;
  }
  #login #username,
  #login #password,
  #login #loginbutton,
  #login #join{
    box-sizing: border-box;
    border: 1px solid #004aad;
  }
  #login #loginbutton{
    background-color: #004aad;
    color: white;
  }
  #login #join{
    background-color: white;
    color: #004aad;
  }
.line {
	display:flex;
	flex-basis:100%;
	align-items:center;
	color:rgba(0,0,0,0.35);
	font-size:14px;
	margin:8px 0px;
}
.line::before{
	content:"";
	flex-grow:1;
	margin:0px 16px;
	background:rgba(0,0,0,0.35);
	height:1px;
	font-size:0px;
	line-height: 0px;
}
.line::after {
	content:"";
	flex-grow:1;
	margin:0px 16px;
	background:rgba(0,0,0,0.35);
	height:1px;
	font-size:0px;
	line-height: 0px;
}
}

/* sanghyun */


#data_content{
	width: 100%;
	margin-top: 100px;
}

.news_section{
	margin: 50px 0px 0px 100px;
	width : 45%;
	border: 10px solid #fc80ac;
	display: block;
    float: left;
    padding: 10px;
    font-size:0.8rem;
}
.news_section p{
	margin: 5px;
}
.org_name{
	padding: 5px;
	font-size:1rem;
}
.board_section{
	display: block;
    float: left;
    margin: 50px 10px;
}


/* 게시판 */
.tbl_list {
	margin: 0 auto; 
	width: 100%; 
	text-align: center; 
}
.td_title {width: 50%; text-overflow: ellipsis; white-space:nowrap;}

.board_btn {
   width: 90px;
   height: 35px;
   background-image: linear-gradient(to bottom right, #777777, #aaaaaa);
   border-radius: 10px;
   border: none;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   font-weight: bold;
}

.board_btn:hover{
	background-image: linear-gradient(to bottom right, #002255, #004aad);
	color: #fff;
}


/* 페이지 버튼 */
.pagination_btn {
    display: flex;
    justify-content: center;
    align-items: center; /* 수직 가운데 정렬 추가 */
    font-size: 15px;
    line-height: normal;
}

.page-box {
    margin: 0 10px;
    font-weight: bold;
    display: inline-block;
}

.page-num-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px auto;
}

.page-btn.disabled {
    pointer-events: none;
    cursor: default;
    color: #aaa;
}

.page-btn.active {
    display: inline-flex;
    align-items: center; /* 수직 가운데 정렬 추가 */
    justify-content: center;
    width: 30px;
    height: 30px;
    background-image: radial-gradient(ellipse, #0088FF, #004AAD);
    border-radius: 50%;
    color: #fff;
    text-align: center;
}

.page-btn.active .page-box {
    display: inline-block;
    color: #fff;
}

/* 게시판 검색창 */
.search_btn{
   width: 450px; 
   height: 35px;
   margin: 0px auto;  
   background-image: linear-gradient(to bottom right, #777777, #aaaaaa);
   border-radius: 10px;
   padding: 5px;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.toggle_btn{
   width: 80px; 
   height: 25px; 
   border: none; 
   border-radius: 5px; 
   text-align: center;
   background-color: #fff;
   margin: 0 10px;
}
.search_box{
   width: 230px; 
   height: 25px;
   border: none;
   border-radius: 5px;
   padding: 0 10px;
}
.board_btn1 {
   width: 70px; 
   height: 25px; 
   border: none; 
   border-radius: 0 5px 5px 0;
   border-left : 2px solid #000;
   background-color: rgba(0, 0, 0, 0);
   font-weight: semi-bold;
}
.board_btn2 {
   width: 50px; 
   height: 25px; 
   border: none;
   background-color: rgba(0, 0, 0, 0);
   font-weight: semi-bold;
}

/* 게시글 상세보기 */
.tbl_detail{
	width: 100%;
}

/* 글쓰기 */
.custom-file-input {
    display: none; /* 숨김 */
}

.custom-file-label {
    width: 90px;
    height: 35px;
    background-image: linear-gradient(to bottom right, #777777, #aaaaaa);
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}

.file-name{
	line-height: 35px;
}



/* 채팅방 */

@media (max-width: 425px) {
  #content {
    width:355px;
  }
  .search_btn{
  	width:355px;
  }
}



/* 헤더 */
header #head_header nav{
	width: 100%; 
	height: 80px; 
	background: #e9e9e9;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
header #head_header h1{
	text-align:center;
}
#top_menu{line-height: 80px; text-align:center;}
#top_menu li{display: inline-block; margin: 0 20px; }
#top_menu li a{color: #444; padding: 0 20px;}
#top_menu li a:hover{color: #111;}
