<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <link rel="stylesheet" href="/css/Mainstyle.css">
    <script src="https://kit.fontawesome.com/6673aed616.js" crossorigin="anonymous"></script>
   	<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
	<script th:src="@{https://code.jquery.com/jquery-3.7.1.min.js}"></script>
    	
</head>

<body>
    <header th:fragment="header-fragment">
    
        <section id="planB-header">
            <div class="planB-sidemenu">
            	<!-- 채채 페이지와 연결 -->
            	<th:block sec:authorize="isAnonymous()" >
	            	<a th:href="@{/login}">Log in</a>
	            	<a th:href="@{/member/join}">Sign up</a>
            	</th:block>
            	<a sec:authorize="isAuthenticated()" th:href="@{/logout}">Log out</a>
            	
            	<a th:href="@{/member/account}">Account</a>
            </div>
			<!-- 프로젝트 로고 -->
            <div class="planB-menuWrap">
            	<a th:href="@{/}" class="main-img-logo">
           			<img th:alt="handmad_planB_logo" src="/images/planB-logo.png" style="width:60px; height:60px;">
           			<h2>안전한 대한민국,<br>PLAN B</h2>
            	</a>
          		<!-- 메인 메뉴 -->
	            <nav class="main-menu-wrap nav03">
	            	<div class="menu-container">
		            	<ul>
			            	<li class="main-menu-item">
			            		<a>재난예방대비</a>
			            		<!-- 서브메뉴 -->
			            		<ul class="submenu">
			            			<li>
		           						<a th:href="@{#}">자연재난 행동요령</a>
		           						<ul>
			            					<li><a th:href="@{/safeBehaviorNum1}">지진</a></li>
			            					<li><a th:href="@{/safeBehaviorNum4}">산사태</a></li>
			            					<li><a th:href="@{/safeBehaviorNum6}">대설</a></li>
			            				</ul>
		           					</li>	
		           					<li>
		           						<a th:href="@{#}">사회재난 행동요령</a>
		           						<ul>
			            					<li><a th:href="@{/safeBehaviorNum2}">산불</a></li>
			            					<li><a th:href="@{/safeBehaviorNum3}">미세먼지</a></li>
			            					<li><a th:href="@{/safeBehaviorNum5}">붕괴</a></li>
			            				</ul>
		           					</li>	
		           					<li>
			            				<a th:href="@{/contact/emer_contact}">비상연락망</a>
			            			</li>
			            		</ul>
			            	</li>
			            	<li class="main-menu-item">
			            		<a>재난현황</a>
			            		<!-- 서브메뉴 -->
			            		<ul class="submenu">
			            			<li>
			            				<a th:href="@{/data/data3}">지진</a>
			            			</li>
			            			<li>
			            				<a th:href="@{/data/data6}">산사태</a>
			            			</li>
			            			<li>
			            				<a th:href="@{/data/data7}">대기오염</a>
			            			</li>
			            			<li>
			            				<a th:href="@{/data/data5}">붕괴</a>
			            			</li>
			            			<li>
			            				<a th:href="@{/data/data2}">산불</a>
			            			</li>
									<!-- <li>
		           						<a th:href="@{/}">submenu 1</a>
		           						<ul>
			            					<li><a th:href="@{/}">child 1-1</a></li>
			            					<li><a th:href="@{/}">child 1-2</a></li>
			            					<li><a th:href="@{/}">child 1-3</a></li>
			            				</ul>
		           					</li> -->	
			            		</ul>
			            	</li>
			            	<li class="main-menu-item">
			            		<a>참여와신고</a>
			            		<!-- 서브메뉴 -->
			            		<ul class="submenu">
			            			<li>
			            				<a th:href="@{/board/}">게시판</a>
			            				<ul>
			            					<li><a th:href="@{/noticeboard/}">공지사항</a></li>
			            					<li><a th:href="@{/infoboard/}">제보게시판</a></li>
			            					<li><a th:href="@{/qnaboard/}">질문게시판</a></li>
			            					<li sec:authorize="hasAnyAuthority('ADMIN')" >
			            						<a th:href="@{/report/}">신고게시판</a>
			            					</li>
			            				</ul>
			            			</li>
			            			<li>
		           						<a th:href="@{#}" onclick="chatOpen()">채팅방</a>
		           					</li>	
			            		</ul>
			            	</li>
		            	</ul>
			            <div class="menu-bot-img">
            				<a th:href="@{/chatbot}">
               					<i class="fa-solid fa-robot" style="font-size:25px;"></i>
               					<span>FAQ안내봇</span>
				            </a>
				        </div>
		            </div>
	            </nav>
            </div> <!-- planB-menuWrap -->
        </section>
    </header>
<script th:src="@{/js/favicon.js}"></script>

<script th:inline="javascript">

function chatOpen() {
    let popupX = (window.screen.width - 820);
    let popupY = (window.screen.height - 400);
    
    window.open("/chat/", "채팅방", "width=820, height=400, left=" + popupX + ", top=" + popupY);
}
</script>
</body>
</html>