<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<script th:src="@{https://code.jquery.com/jquery-3.7.1.min.js}"></script>
	<link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/69798321c6.js" ></script>
	<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
	<link th:href="@{https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css}" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header th:fragment="header-fragment">
    
        <section id="planB-header">
        
            <div class="planB-sidemenu">
            	<!-- 채채 페이지와 연결 -->
            	<a sec:authorize="isAnonymous()" th:href="@{/login}">Log in</a>
            	<a sec:authorize="isAuthenticated()" th:href="@{/logout}">Log out</a>
            	<a th:href="@{/member/join}">Sign up</a>
            	<a th:href="@{/member/account}">Account</a>
            </div>

            <div class="planB-logo-menu">
            	<div class="main-logo-img">
            		<img th:alt="handmad_planB_logo" src="/images/planB-logo.png" style="width:60px; height:60px;">
            	</div>
            	<h2>안전한 대한민국,<br>PLAN B</h2>
          
	            <div class="main-menu">
	            	<a th:href="@{/contact/emer_contact}">재난 예방 대비</a>
	            	<a th:href="@{/data/data2}">재난 현황</a>
	            	<a th:href="@{/board/main}">참여와 신고</a>
	            	<div class="menu-bot-img">
            			<a id="faqToggleBtn"><img th:alt="chatbot_icon" src="/images/FAQ-bot.png" style="width:40px; height:40px;"><span>FAQ안내봇</span></a>
	            	</div>
	            	<!-- 토글될 FAQ박스 추가 -->
					<div id="faqBox" style="display: none;">
					    여기에 FAQ 내용을 채워주세요.
					</div>
	            </div>
            </div>
            
        </section>
    </header>
</body>
</html>