<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>질문게시판</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<script src="https://kit.fontawesome.com/69798321c6.js" ></script>
</head>
<body>
   <div th:replace="~{header}"></div>

      <div id="content">
      <div class="content_list">
      <h2 style="font-weight: bold;">질문게시판</h2>
      <table class="tbl_list">
         <thead>
            <tr style="border-bottom: 2px solid #000; height: 50px;">
               <th scope="col">글분류</th>
               <th scope="col">글제목</th>
               <th scope="col">글쓴이</th>
               <th scope="col">작성일</th>
               <th scope="col">조회수</th>
               <th scope="col">추천</th>
            </tr>
         </thead>
         <tbody>
         	<tr style="background:#fff; border-bottom: 1px solid #000; height: 50px;">
				<th><a th:href="@{/noticeboard/}">공지사항</a></th>
				<td class="td_title" style="width:200px;">
				    <a th:href="@{|/noticeboard/${notice.id}|}">
				    	<span th:text="${notice.boardTitle}"></span>
				    	<span style="font-size:small;" th:if="${notice.replyCount != 0}" th:text="'[ ' + ${notice.replyCount} + ' ]'"></span>
				    </a>
				</td>

                <td th:text="${notice.boardWriter}"></td>
                <td th:utext="${notice.updatedDate != null ? #temporals.format(notice.updatedDate, 'yyyy-MM-dd hh:mm') : #temporals.format(notice.createdDate, 'yyyy-MM-dd hh:mm')}"></td>
                <td th:text="${notice.boardHits}"></td>
                <td th:text="${notice.likeCount}"></td>
            </tr>
            <tr th:each="board : ${boardList}" style="border-bottom: 1px solid #000; height: 50px;">
                <th th:text="QnA"></th>

                <td class="td_title" style="width:40%;">
                   <a th:href="@{|/qnaboard/${board.id}|(page=${boardList.number+1})}">
                      <span th:text="${board.boardTitle}"></span>
                      <span style="font-size:small;" th:if="${board.replyCount != 0}" th:text="'[ ' + ${board.replyCount} + ' ]'"></span>
                   </a>
               </td>

                   <td th:text="${board.boardWriter}"></td>
                   <td th:utext="${board.updatedDate != null ? #temporals.format(board.updatedDate, 'yyyy-MM-dd hh:mm') : #temporals.format(board.createdDate, 'yyyy-MM-dd hh:mm')}"></td>
                   <td th:text="${board.boardHits}"></td>
                   <td th:text="${board.likeCount}"></td>
               </tr>
         </tbody>
      </table>
      <!-- 페이징처리 시작 -->
         <div style="width: 50%; margin: 10px auto;">
                 <ul class="pagination_btn">                 
                      <li th:class="${nowPage eq 1} ? 'page-btn disabled' : 'page-btn'">
                          <a class="page-box" th:href="${startPage eq 1}? '/qnaboard/?page=1' : @{/qnaboard/(page=${startPage-1})}">&lt;&lt;</a>
                      </li>
                      <li th:class="${nowPage eq 1} ? 'page-btn disabled' : 'page-btn'">
                          <a class="page-box" th:href="${boardList.first}? '/qnaboard/?page=1' : @{/qnaboard/(page=${boardList.number})}">&lt;</a>
                      </li>
                      <li th:class="${nowPage eq page} ? 'page-btn active' : 'page-btn'" th:each="page : ${#numbers.sequence(startPage, endPage)}">
                      <a class="page-box" th:href="@{/qnaboard/(page=${page})}">
                          <span th:text="${page}"></span>
                      </a>
                  </li>
                      <li th:class="${nowPage eq boardList.totalPages} ? 'page-btn disabled' : 'page-btn'">
                          <a class="page-box" th:href="${boardList.last}? @{/qnaboard/(page=${endPage})} : @{/qnaboard/(page=${boardList.number+2})}">&gt;</a>
                      </li>
                      <li th:class="${nowPage eq boardList.totalPages} ? 'page-btn disabled' : 'page-btn'">
                          <a class="page-box" th:href="${boardList.totalPages eq endPage}? @{/qnaboard/(page=${endPage})} : @{/qnaboard/(page=${endPage+1})}">&gt;&gt;</a>
                      </li>
                 </ul>
          </div>
          <!-- 페이징처리 끝 -->
      <!-- 검색 영역 -->
         <div class="search_btn">
           <form th:action="@{/qnaboard/}" method="get">
              <div style="display: flex; justify-content: center;">
               <select name="field" class="toggle_btn">
                  <option value="t" th:selected="${field == 't'}" th:text="제목"></option>
                       <option value="c" th:selected="${field == 'c'}" th:text="내용"></option>
                       <option value="w" th:selected="${field == 'w'}" th:text="작성자"></option>
                   </select>
               <input type="text" class="search_box" name="kw" th:value="${kw}" id="inputGroupFile04" 
                     placeholder="검색" aria-describedby="inputGroupFileAddon04" aria-label="Upload" style="width:50%">
               <button type="submit" class="board_btn2">검색</button>
                 <a th:href = "@{/qnaboard/write}"><button type="button" class="board_btn1">글쓰기</button></a>
              </div>
           </form>
          </div>
      </div>
   </div>
</body>
</html>