<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>질문게시판</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div th:replace="~{layout/header}"></div>

	<th:block th:if="${session.sessionId == null}">
	    <script type="text/javascript">
	        alert("로그인 후 이용 가능합니다.");
	        location.href = "/member/login";
	    </script>
	</th:block>
		<div id="content">
		<h2>질문게시판 글쓰기</h2>
		<form th:action="@{/qnaboard/write}" method="post" th:object="${board}" enctype="multipart/form-data">
			<input type="text" th:field=*{boardTitle} class="form-control mt-4 mb-2"
				placeholder="제목을 입력해주세요." required
			>
			<input type="hidden" name="boardCategory" th:value="qna">	
			<input type="hidden" name="boardWriter" th:value="${session.sessionId}">
			<div class="form-group">
				<textarea class="form-control" rows="10" th:field=*{boardContent}
					placeholder="내용을 입력해주세요" style="resize: none;" required
				></textarea>
			</div>
			<div class="form-group">
			    <label for="exampleFormControlFile1">사진 업로드</label>
			    <div class="my-1">
			   		<input type="file" accept="image/*" class="form-control-file" id="exampleFormControlFile1" name=boardFile>
			    </div>
			</div>
			<div class="d-flex justify-content-center">
				<input class="btn btn-outline-secondary" type="submit" value="등록">&nbsp;
				<input class="btn btn-outline-secondary" type="reset" value="초기화">&nbsp;
				<a th:href="@{/qnaboard/}"><input type="button" class="btn btn-outline-secondary" value="목록"></a>
			</div>
		</form>
	</div>
</body>
</html>