<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>개인정보 처리방침</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="~{header}"></div>
	<section class="question">
        <div id="pi-title">
			<h3>개인정보 처리방침</h3>	
		</div>
		
		<div id="question_container">
			<div class="pp-wrap">
				<p>
					저희 홈페이지는 정보주체의 자유와 권리 보호를 위해 「개인정보 보호법」 및 관계 법령이 정한 바를 준수하여, 
					적법하게 개인정보를 처리하고 안전하게 관리하고 있습니다. 
					이에 「개인정보 보호법」 제30조에 따라 정보주체에게 개인정보 처리에 관한 절차 및 기준을 안내하고, 
					이와 관련한 고충을 신속하고 원활하게 처리할 수 있도록 다음과 같이 개인정보 처리방침을 수립·공개합니다.
				</p>
			</div>
			
	        <div class="faq-wrap">
	            <div class="pp-sections">
	                <div>
	                    <input id="check-btn1" type="checkbox" />
	                    <label for="check-btn1" style="margin-top:10px; ">▶ 수집하는 개인정보의 종류 및 목적</label>
	                    <ul class="menubars">
	                        <li>1. 회원 서비스 제공 및 민원처리, 회원간의 소통을 위한 목적으로 필요에 의한 최소한으로 개인정보를 처리하고 있습니다.<br><br>
								2. 수집 항목 : 아이디, 비밀번호, 이메일, 생년월일, 전화번호, 성명, 거주지 지역<br><br>
								*서비스 이용 과정이나 사업 처리 과정에서 서비스이용기록, 접속로그, 쿠키, 접속 IP, 결제 기록, 불량이용 기록이 생성되어 수집될 수 있습니다.
	                        </li>
	                    </ul>
	                </div>
	                <div>
	                    <input id="check-btn2" type="checkbox" />
	                    <label for="check-btn2">▶ 개인정보의 보유 및 이용기간</label>
	                    <ul class="menubars">
	                        <li>Plan B에서 처리하는 개인정보는 수집,이용 목적으로 명시한 범위 내에서 처리하며, 
	                        	개인정보보호법 및 관련 법령에서 정하는 보유기간을 준용하여 이행하고 있습니다.<br><br>
								개인정보 처리목적이 달성된 개인정보는 지체 없이 파기합니다.<br>
								단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다.<br><br>
								- Plan B 내부방침에 의한 정보보유 사유<br>
								회원이 탈퇴한 경우에도 불량회원의 부정한 이용의 재발을 방지, 
								분쟁해결 및 수사기관의 요청에 따른 협조를 위하여, 
								이용계약 해지일로부터 3년간 회원의 정보를 보유할 수 있습니다.<br>(통신비밀보호법 - 3개월)<br>
	                    </ul>
	                </div>
	                <div>
	                    <input id="check-btn3" type="checkbox" />
	                    <label for="check-btn3">▶ 개인정보의 파기절차 및 방법</label>
	                    <ul class="menubars">
	                        <li>Plan B는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체없이 파기합니다. 파기절차 및 방법은 다음과 같습니다.<br><br>
         					  	- 파기절차<br>
           						 회원님이 회원가입 등을 위해 입력하신 정보는 목적이 달성된 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 
           						 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기되어집니다.<br><br>
           						 ※ 별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 보유되어지는 이외의 다른 목적으로 이용되지 않습니다.<br><br>
          					  	- 파기방법<br>
            					전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.<br></li>
	                    </ul>
	                </div>
	            
	                <div class="fao-menu4">
	                    <input id="check-btn4" type="checkbox" />
	                    <label for="check-btn4">▶ 개인정보 제공</label>
	                    <ul class="menubars">
	                        <li>Plan B는 이용자의 개인정보를 원칙적으로 외부에 제공하지 않습니다.<br>
	                        	다만, 아래의 경우에는 예외로 합니다.<br><br>
            					- 이용자들이 사전에 동의한 경우<br>
          					  	- 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우<br></li>
	                    </ul>
	                </div>
	                <div class="fao-menu5">
	                    <input id="check-btn5" type="checkbox" />
	                    <label for="check-btn5">▶ 이용자의 권리와 그 행사방법</label>
	                    <ul class="menubars">
	                        <li> 1. 이용자는 언제든지 등록되어 있는 자신의 개인정보를 조회하거나 수정할 수 있으며 가입해지를 요청할 수도 있습니다.<br><br>
            					 2. 이용자들의 개인정보 조회,수정을 위해서는 "개인정보변경"(또는 "회원정보수정" 등)을 가입해지(동의철회)를 위해서는 "회원탈퇴"를 클릭하여 본인 확인 절차를 거치신 후 직접 열람, 정정 또는 탈퇴가 가능합니다.<br><br>
         						 3. 귀하가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체없이 통지하여 정정이 이루어지도록 하겠습니다.<br><br>
            					 4. Plan B는 이용자의 요청에 의해 해지 또는 삭제된 개인정보는 "Plan B가 수집하는 개인정보의 보유 및 이용기간"에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.
           					</li>
	                    </ul>
	                </div>
	        	</div>
	        </div>
        </div> 
   </section>
<div th:replace="~{footer}"></div>
</body>
</html>